{% extends 'base.html' %}

{% block content %}
<div class="container">
  <br>
  <div class="row">
    <h1 class="display-5 sc-title-1-font">Politique de confidentialité</h1>
  </div>
  <br>
  <div class="row">
    <h2 class='.sc-text-1-font'>Utilisation des données personnelles collectées</h2>
  </div>
  <br>
  <div class="row">
    <h4 class='.sc-text-1-font'>Formulaires</h4>
    <p class="fs-6 sc-text-1-font no-margin">Le site comporte un formulaire de contact qui demande trois informations vous concernant : votre nom, votre email et votre numéro de téléphone. Ces trois informations nous permettent de vous répondre poliment, c’est à dire en commençant notre email ou notre appel par vous nommer explicitement. Ces informations ne sont pas utilisées par ailleurs.</p>
  </div>
  <br>
  <div class="row">
    <h4 class='.sc-text-1-font'>Polices</h4>
    <p class="fs-6 sc-text-1-font no-margin">Ce site utilise des polices de caractères fournies par Google (les Google fonts). Votre navigateur doit donc se connecter aux serveurs Google pour télécharger ces polices, afin qu’elles puissent apparaître correctement sur votre écran.</p>
  </div>
  <br>
  <div class="row">
    <h4 class='.sc-text-1-font'>Cookies</h4>
    <p class="fs-6 sc-text-1-font no-margin">Lorsque vous vous connecterez, nous mettrons en place un certain nombre de cookies pour enregistrer vos informations de connexion et vos préférences d’écran. La durée de vie d’un cookie de connexion est de deux jours, celle d’un cookie d’option d’écran est d’un an. </p>
  </div>
  <br>
  <div class="row">
    <h2 class='.sc-text-1-font'>Utilisation et transmission de vos données personnelles</h2>
  </div>
  <br>
  <div class="row">
    <h4 class='.sc-text-1-font'>Transmission de vos données personnelles</h4>
    <p class="fs-6 sc-text-1-font no-margin">En aucun cas les données personnelles en rapport avec votre compte ne sont transmises à un tiers. </p>
  </div>
  <br>
  <div class="row">
    <h4 class='.sc-text-1-font'>Informations de contact</h4>
    <p class="fs-6 sc-text-1-font no-margin">La responsable et éditrice du site, M Sylvain CLerc, est responsable de la bonne conformité du site face aux règlementations en vigueur.</p>
  </div>
</div>
{% endblock %}
