{% extends 'base.html' %}

{% block content %}
<div class="container">
  <br>
  <div class="row">
    <h1 class="display-5 sc-title-1-font">Mentions Légales</h1>
  </div>
  <br>
  <div class="row">
    <h2 class='.sc-text-1-font'>Identité</h2>
    <p class="fs-6 sc-text-1-font no-margin">Nom du site web : Pacific Dataviz 2023</p>
    <p class="fs-6 sc-text-1-font no-margin">Adresse : https://www.pacificdataviz.com</p>
    <p class="fs-6 sc-text-1-font no-margin">Propriétaire : Sylvain Clerc</p>
    <p class="fs-6 sc-text-1-font no-margin">Responsable de publication : Sylvain Clerc</p>
    <p class="fs-6 sc-text-1-font no-margin">Conception et réalisation : Sylvain Clerc</p>
    <p class="fs-6 sc-text-1-font no-margin">Animation : Sylvain Clerc</p>
    <p class="fs-6 sc-text-1-font no-margin">Hébergement : Heroku & AWS (pour les statics et médias)</p>
  </div>
  <br>

  <div class="row">
    <h2 class='.sc-text-1-font'>Personne morale</h2>
    <p class="fs-6 sc-text-1-font no-margin">Non applicable</p>
  </div>
  <br>

  <div class="row">
    <h2 class='.sc-text-1-font'>Conditions d’utilisation</h2>
    <p class="fs-6 sc-text-1-font no-margin">L’utilisation du présent site implique l’acceptation pleine et entière des conditions générales d’utilisation décrites ci-après.</p>
    <p class="fs-6 sc-text-1-font no-margin">Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment.</p>
  </div>
  <br>

  <div class="row">
    <h2 class='.sc-text-1-font'>Informations</h2>
    <p class="fs-6 sc-text-1-font no-margin">Les informations et documents du site sont présentés à titre indicatif, n’ont pas de caractère exhaustif, et ne peuvent engager la responsabilité du propriétaire du site.</p>
    <p class="fs-6 sc-text-1-font no-margin">Le propriétaire du site ne peut être tenu responsable des dommages directs et indirects consécutifs à l’accès au site.</p>
  </div>
  <br>

  <div class="row">
    <h2 class='.sc-text-1-font'>Liens</h2>
    <p class="fs-6 sc-text-1-font no-margin"><u>Liens sortants :</u></p>
    <p class="fs-6 sc-text-1-font no-margin">Le propriétaire du site décline toute responsabilité et n’est pas engagé par le référencement via des liens hypertextes, de ressources tierces présentes sur le réseau Internet, tant en ce qui concerne leur contenu que leur pertinence.</p>
    <p class="fs-6 sc-text-1-font no-margin"><u>Liens entrants :</u></p>
    <p class="fs-6 sc-text-1-font no-margin">Le propriétaire du site autorise les liens hypertextes vers l’une des pages de ce site, à condition que ceux-ci ouvrent une nouvelle fenêtre et soient présentés de manière non équivoque afin d’éviter :</p>
    <p class="fs-6 sc-text-1-font no-margin"> - tout risque de confusion entre le site citant et le propriétaire du site</p>
    <p class="fs-6 sc-text-1-font no-margin"> - ainsi que toute présentation tendancieuse, ou contraire aux lois en vigueur</p>
    <br>
    <p class="fs-6 sc-text-1-font no-margin">Le propriétaire du site se réserve le droit de demander la suppression d’un lien s’il estime que le site source ne respecte pas les règles ainsi définies.</p>
  </div>
</div>
{% endblock %}
