{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
    <div class="row">
      <div class="col">
        <br>
        <h1 class="sc-hello-font" size="20">Hello World !</h1>
        <br>
      </div>
    </div>
</div>
<div class="row sc-text-1-font">
    <div class="col">
      <br>
      <h3>Bienvenue !</h3> 
      <br>
      <p>Ce site internet a entièrement été construit dans l’optique de participer au “Pacifique Dataviz Challenge 2023”.</p>
      <p>L’objectif du Challenge est de proposer un ensemble de visuels permettant de simplifier la compréhension et l'interprétation 
        de multiples grandeurs récoltées dans d’imposantes bases de données.</p>
      
      <p><i class="fa-solid fa-arrow-right"></i> Ces visuels seront jugés sur une grille de 4 critères :</p>
      <ul>
        <li>le storytelling ou la capacité à raconter une histoire</li>
        <li>le design</li>
        <li>l’innovation, la créativité et l’originalité</li>
        <li>la solution technique et la profondeur analytique</li>
      </ul>
      
      <p><i class="fa-solid fa-arrow-right"></i> Les visuels sont divisés en deux catégories : les visuels <b>statiques</b>, les visuels <b>interactifs</b>.</p>
      
      <p><i class="fa-solid fa-arrow-right"></i> Le thème : <b><span style="color: #F05500">l’alimentation</span></b></p>
      
      <p><i class="fa-solid fa-arrow-right"></i> Pour plus de détail : <a href="https://dataviz.pacificdata.org/">dataviz.pacificdata.org</a></p>
      <br>
      <hr> 
      <br>
      <h4>Les bases de données <i class="fa-solid fa-database"></i></h4>
      <ul>
        <li><a href="https://stats.pacificdata.org/vis?tm=trade&pg=0&snb=14&df%5Bds%5D=ds%3ASPC2&df%5Bid%5D=DF_TRADE_FOOD&df%5Bag%5D=SPC&df%5Bvs%5D=1.0&pd=%2C2018&dq=A.Q.AS%2BCK%2BFJ%2BFM%2BGU%2BKI%2BMH%2BMP%2BNC%2BNR%2BNU%2BPF%2BPG%2BPN%2BPW%2BSB%2BTK%2BTO%2BTV%2BVU%2BWF%2BWS.AU_NZ.10%2B11%2B12%2B15%2B16%2B17%2B18%2B19%2B20%2B21%2B22%2B24%2B02%2B03%2B04%2B07%2B08%2B09&ly%5Bcl%5D=TIME_PERIOD&ly%5Brw%5D=COMMODITY&to%5BTIME_PERIOD%5D=false">Pacific food and beverage trade</a>: The Pacific Food Trade Database</li>
        <li><a href="https://stats.pacificdata.org/vis?tm=food%20security&pg=0&snb=17&df%5Bds%5D=ds%3ASPC2&df%5Bid%5D=DF_FOOD_SECURITY_HIES_3&df%5Bag%5D=SPC&df%5Bvs%5D=1.0&pd=%2C&dq=A........&ly%5Bcl%5D=INDICATOR&ly%5Brw%5D=FOOD&to%5BTIME_PERIOD%5D=false">Food security</a>: Nutritional facts by type of food, by geography, sex, age and urbanization (Kiribati, Solomon Islands and Vanuatu)</li>
        <li><a href="https://data.gouv.nc/explore/?flg=fr&disjunctive.theme&disjunctive.publisher&disjunctive.keyword&disjunctive.attributions&disjunctive.license&sort=explore.popularity_score&refine.keyword=PacificDatavizChallenge2023&refine.attributions=%20Direction%20des%20Affaires%20V%C3%A9t%C3%A9rinaires,%20Alimentaires%20et%20Rurales%20(DAVAR)">Fruits and vegetables market in New Caledonia</a></li>
        <li><a href="https://data.gouv.nc/explore/?flg=fr&disjunctive.theme&disjunctive.publisher&disjunctive.keyword&disjunctive.attributions&disjunctive.license&sort=explore.popularity_score&refine.attributions=Direction%20des%20Affaires%20%C3%89conomiques%20(DAE)&refine.keyword=PacificDatavizChallenge2023">Food prices in New Caledonia</a></li>
      </ul>
      <br>
      <hr>
      <br> 
      <h4>Les outils <i class="fa-solid fa-screwdriver-wrench"></i></h4> 
      <p>Les bases de données ont été exportés depuis les répertoires internet en fichier “.csv”.
      L’analyse a été réalisée en langage <b><span style="color: #F28449">python</span></b> avec des librairies dédiées à data science et à la visualisation graphiques telles que <span style="color: #F28449">pandas</span>, <span style="color: #F28449">numpy</span>, <span style="color: #F28449">matplotlib</span>, <span style="color: #F28449">seaborn</span> et bien d’autres…
      L’ensemble de notebook d’analyse sont disponibles sur un répertoire github : <a href="https://github.com/sloutmyv/DatavizPacific2023">ici</a></p>
      <p>Le site internet a été construit en python avec le framework django. Les bases de données du site sont gérées avec <span style="color: #F28449">PostgreSQL</span>. Le site est hébergé par <span style="color: #F28449">Heroku</span> et <span style="color: #F28449">AWS</span> (pour les statics et les médias). 
      L’ensemble de la structure du site est disponible sur un répertoire github : <a href="https://github.com/sloutmyv/Django_Plotly">ici</a></p>
      <br>
      <hr> 
      <br>
      <h4>Présentation du site / Philosophie de l’analyse <i class="fa-solid fa-book"></i></h4>
      <p>L’objectif premier est de rendre compréhensible au plus grand nombre les données à travers des visuels simples et épurés. 
      Chaque visuel est associé à un texte explicatif simple et  parfois à des notes supplémentaires permettant de rentrer plus en profondeur dans certains détails techniques. 
      Le second objectif est d’extraire de ces visuels des connaissances supplémentaires permettant d’enrichir la culture personnelle ou professionnelle du lecteur.</p>
      
      <p>Chaque base de données est décryptée dans une page dédiée. Certaines analyses ont été agrémentées avec des informations ou des jeux de données externes et dans ce cas là toutes les références sont citées.</p>
      
      <p>Une page est également dédiée aux éléments de contexte afin de donner un peu plus de corps à l’analyse et pour permettre au lecteur de mettre en perspective les informations contenues dans les visuels.</p>
      
      <br>
    </div>
  </div>
</div>

{% endblock %}
