{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
    <div class="row">
      <div class="col">
        <br>
        <h1 class="sc-hello-font" size="20">Hello World !</h1>
        <br>
      </div>
    </div>
</div>
<div class="container text-center">
  <div class="row sc-text-1-font">
    <div class="col">
      <p>Ce site internet a entièrement été construit dans l’optique de participer au <span style="color: #F05500">“Pacifique Dataviz Challenge 2023”</span>.</p>
      <br>
    </div>
  </div>
</div>
<div class="row sc-text-1-font">
    <div class="col">
      <p>
        <h4>Le challenge en quelques mots</h4> 
        <br> 
        L’objectif du Challenge est de proposer un ensemble de visuels permettant de simplifier la compréhension et l'interprétation 
        de multiples grandeurs récoltées dans d’imposantes bases de données.<br>
        <br>
        <i class="fa-solid fa-arrow-right"></i> Ces visuels seront jugés sur une grille de 4 critères :
        <ul>
          <li>le storytelling ou la capacité à raconter une histoire</li>
          <li>le design</li>
          <li>l’innovation, la créativité et l’originalité</li>
          <li>la solution technique et la profondeur analytique</li>
        </ul>
        <i class="fa-solid fa-arrow-right"></i> Les visuels peuvent être abordés en deux catégories : les visuels <b>statiques</b> et/ou les visuels <b>interactifs</b>.<br>
        <br>
        <i class="fa-solid fa-arrow-right"></i> Le thème 2023 : <b><span style="color: #F05500">l’alimentation</span></b><br>
        <br>
        <i class="fa-solid fa-arrow-right"></i> Pour plus de détails : <a href="https://dataviz.pacificdata.org/">dataviz.pacificdata.org</a><br>
        <br>
      </p>
      <br>  
      <hr style="width:50%; margin: auto;">
      <br>  
      <p>
        <h4>Les bases de données&nbsp&nbsp&nbsp<i class="fa-solid fa-database"></i></h4>
      </p>
      <p>
        <ul>
          <li><a href="https://stats.pacificdata.org/vis?tm=trade&pg=0&snb=14&df%5Bds%5D=ds%3ASPC2&df%5Bid%5D=DF_TRADE_FOOD&df%5Bag%5D=SPC&df%5Bvs%5D=1.0&pd=%2C2018&dq=A.Q.AS%2BCK%2BFJ%2BFM%2BGU%2BKI%2BMH%2BMP%2BNC%2BNR%2BNU%2BPF%2BPG%2BPN%2BPW%2BSB%2BTK%2BTO%2BTV%2BVU%2BWF%2BWS.AU_NZ.10%2B11%2B12%2B15%2B16%2B17%2B18%2B19%2B20%2B21%2B22%2B24%2B02%2B03%2B04%2B07%2B08%2B09&ly%5Bcl%5D=TIME_PERIOD&ly%5Brw%5D=COMMODITY&to%5BTIME_PERIOD%5D=false">Pacific food and beverage trade : The Pacific Food Trade Database </a></li>
          <li><a href="https://stats.pacificdata.org/vis?tm=food%20security&pg=0&snb=17&df%5Bds%5D=ds%3ASPC2&df%5Bid%5D=DF_FOOD_SECURITY_HIES_3&df%5Bag%5D=SPC&df%5Bvs%5D=1.0&pd=%2C&dq=A........&ly%5Bcl%5D=INDICATOR&ly%5Brw%5D=FOOD&to%5BTIME_PERIOD%5D=false">Food security : Nutritional facts by type of food, by geography, sex, age and urbanization (Kiribati, Solomon Islands and Vanuatu)</a></li>
          <li><a href="https://data.gouv.nc/explore/?flg=fr&disjunctive.theme&disjunctive.publisher&disjunctive.keyword&disjunctive.attributions&disjunctive.license&sort=explore.popularity_score&refine.keyword=PacificDatavizChallenge2023&refine.attributions=%20Direction%20des%20Affaires%20V%C3%A9t%C3%A9rinaires,%20Alimentaires%20et%20Rurales%20(DAVAR)">Fruits and vegetables market in New Caledonia</a></li>
          <li><a href="https://data.gouv.nc/explore/?flg=fr&disjunctive.theme&disjunctive.publisher&disjunctive.keyword&disjunctive.attributions&disjunctive.license&sort=explore.popularity_score&refine.attributions=Direction%20des%20Affaires%20%C3%89conomiques%20(DAE)&refine.keyword=PacificDatavizChallenge2023">Food prices in New Caledonia</a></li>
        </ul>
      </p>
      <br>
      <hr style="width:50%; margin: auto;">
      <br>
      <p>
        <h4>Les outils&nbsp&nbsp&nbsp<i class="fa-solid fa-screwdriver-wrench"></i></h4>
      </p>
      <p>
        Les bases de données ont été exportées depuis les répertoires internet en fichier “.csv”.<br>
        <br>
        L’analyse a été réalisée en langage <b><span style="color: #F28449">python</span></b> avec des librairies dédiées à la data science et 
        à la visualisation graphique telles que <span style="color: #F28449">pandas</span>, <span style="color: #F28449">numpy</span>, 
        <span style="color: #F28449">matplotlib</span>, <span style="color: #F28449">seaborn</span> et bien d’autres…<br>
        L’ensemble de notebook d’analyse sont disponibles sur un répertoire github : <a href="https://github.com/sloutmyv/DatavizPacific2023">ici</a><br>
        <br>
        Le site internet a été construit en <b><span style="color: #F28449">python</span></b> avec le framework <span style="color: #F28449">Django</span>. 
        Les bases de données du site sont gérées avec <span style="color: #F28449">PostgreSQL</span>. Le site est hébergé par 
        <span style="color: #F28449">Heroku</span> et <span style="color: #F28449">AWS</span> (pour les statics et les médias).<br> 
        L’ensemble de la structure du site est disponible sur un répertoire github : <a href="https://github.com/sloutmyv/Django_Plotly">ici</a>
      </p>
      <br>
      <hr style="width:50%; margin: auto;"> 
      <br>
      <p>
        <h4>Présentation du site / Philosophie de l’analyse&nbsp&nbsp&nbsp<i class="fa-solid fa-book"></i></h4>
      </p>
      <p>
        Chaque base de données est analysée dans une page dédiée :
        <ul>
          <li>Food Trade : <a href="{% url 'dataviz_try:food-trade' %}">ici</a></li>
          <li>Food Security : <a href="{% url 'dataviz_try:food-security' %}">ici</a></li>
          <li>Fruits & Légumes en Nouvelle-Calédonie : <a href="{% url 'dataviz_try:fruits-legumes-nc' %}">ici</a></li>
          <li>Prix de l'alimentation en Nouvelle-Calédonie : <a href="{% url 'dataviz_try:prix-alimentation-nc' %}">ici</a></li>
        </ul>
        Chaque page est construite de la même façon. En préambule, une description de la base de donnée brute fournie puis une série de plusieurs analyses 
        thématiques dans lequelles sont présentées un ou plusieurs visuels.<br>
        <br> 
        La plupart des visuels sont associés à un texte explicatif simple donnant quelques pistes pour entamer la lecture et l'analyse.<br>
        Certains visuels ont été agrémentés avec des informations ou des jeux de données externes. Dans ce cas, les références sont citées.<br>
        <br>
        Une page est dédiée aux <a href="{% url 'dataviz_try:contexte' %}">éléments de contexte</a> pour introduire les enjeux du thème et permettre au lecteur de mettre en perspective les 
        informations contenues dans les visuels.<br>
      </p>
      <p>L'analyse des 4 bases de données permet de mieux appréhender le sujet de l'alimentation en Nouvelle-Calédonie et dans le pacifique sud. Loin d'être indépendantes, les 
        conclusions des analyses menées sur les différentes bases de données peuvent être mises en perspectives et interprétées comme un tout.<br>
        <br>
        Nous souhaitons au lecteur de prendre autant de plaisir que nous en avons pris à la réalisation de ce projet. Le sujet est tout simplement passionnant. 
      </p>
      <br>
      <br> 
    </div>
      <h3><b>Bonne Datalyse !</b></h3> 
    </div>
</div>
{% endblock %}
