@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.sc-title-1-font {
  font-family: 'Montserrat', sans-serif;
  }

.sc-text-1-font {
  font-family: 'Montserrat', sans-serif;
  }

.no-margin {
    margin: 0px;
  }

.sc-text-1-color {
    color: #483D8B;
  }
  