@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "bootstrap";

.sc-title-1-font {
  font-family: 'Montserrat', sans-serif;
  }

.sc-text-1-font {
  font-family: 'Montserrat', sans-serif;
  }

.no-margin {
    margin: 0px;
  }

.sc-text-1-color {
    color: #483D8B;
  }

.hello-world {
  margin: 0;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

/* ------- customize primary button color -------- */
$mynewcolor:#77cccc;

.btn-primary {
    @include button-variant($mynewcolor, darken($mynewcolor, 7.5%), darken($mynewcolor, 10%), lighten($mynewcolor,5%), lighten($mynewcolor, 10%), darken($mynewcolor,30%));
}

.btn-outline-primary {
    @include button-outline-variant($mynewcolor, #222222, lighten($mynewcolor,5%), $mynewcolor);
}
