{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12 col-md-2">
      <img src="{{ infogenerales.img.url }}" alt="{{infogenerales.first_name|title}} {{infogenerales.last_name|title}}" class="img-thumbnail rounded mx-auto d-block">
    </div>
    <div class="col-12 col-md-10 text-center my-auto">
      <div class="row">
        <h1 class="display-2 sc-title-1-font">{{ infogenerales.first_name }} {{ infogenerales.last_name }}</h1>
      </div>
      <div class="row">
        <p class="fs-6 sc-text-1-font sc-text-1-color no-margin fw-bold">{{ infogenerales.birth_date|date:"d/m/Y" }}</p>
        <p class="fs-6 sc-text-1-font no-margin">{{ infogenerales.email }}</p>
        <p class="fs-6 sc-text-1-font no-margin">{{ infogenerales.phone_number }}</p>
        <p class="fs-6 sc-text-1-font no-margin"><a href="{{ infogenerales.linkedin_resume }}">{{ infogenerales.linkedin_resume }}</a></p>
        <p class="fs-6 sc-text-1-font no-margin">{{ infogenerales.adress }}</p>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <h2 class="display-8 sc-title-1-font">EXPERIENCES</h2>
    <hr class="hr hr-blurry" />
    {% for exp in experiences %}
    <div class="row">
      <div class="col-12 col-md-2">
        <p class="fs-6 sc-text-1-font sc-text-1-color no-margin fw-bold">{{exp.date_debut|date:"m/Y"}} à {% if exp.is_today %}Aujourd'hui{% else %}{{exp.date_fin|date:"m/Y"}}{% endif %}</p>
      </div>
      <div class="col-12 col-md-10">
        <p class="fs-6 sc-text-1-font"><b>{{ exp.fonction }}</b> - {{ exp.entreprise|upper }}, <i>{{ exp.localisation }}</i></p>
        <div class="fs-6 sc-text-1-font">{{ exp.description|safe }}</div>
        <p class="fs-6 sc-text-1-font">Secteurs : {% for tag in exp.secteurs.all %}{{tag}} {% endfor %}</p>
      </div>
    </div>
    {% endfor %}
  </div>

  <br>

  <div class="row">
    <h2 class="display-8 sc-title-1-font">FORMATIONS</h2>
    <hr class="hr hr-blurry" />
    {% for for in formations %}
    <div class="row">
      <div class="col-12 col-md-2">
        <p class="fs-6 sc-text-1-font sc-text-1-color no-margin fw-bold">{{for.date_debut|date:"Y"}} - {{for.date_fin|date:"Y"}}</p>
      </div>
      <div class="col-12 col-md-10">
        <p class="fs-6 sc-text-1-font"><b>{{ for.ecole }}</b>, <i>{{ for.localisation }}</i></p>
        <div class="fs-6 sc-text-1-font">{{ for.description|safe }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
  <br>
  <div class="row my-auto">
    <h2 class="display-8 sc-title-1-font">COMPETENCES</h2>
    <hr class="hr hr-blurry" />
    <ul class="list-unstyled">
    {% for skill in skills %}
    {% if forloop.counter0|divisibleby:3 %} <div class="row text-center"> {%  endif %}
      <div class="col-md-4 text-start">
        <li class="sc-text-1-font">{{ skill.skill }}</li>
      </div>
    {%  if forloop.counter|divisibleby:3 or forloop.last %}</div>{%  endif %}
    {% endfor %}
    </ul>
  </div>
  <br>
  <div class="row">
    <h2 class="display-8 sc-title-1-font">HOBBIES</h2>
    <hr class="hr hr-blurry" />
    {% for hobbie in hobbies %}
    {% if forloop.counter0|divisibleby:3 %} <div class="row text-center"> {%  endif %}
      <div class="col-md-4 text-start">
      <span class="badge text-dark-emphasis bg-light-subtle rounded-pill sc-text-1-font">
        <img class="rounded-circle me-1" width="24" height="24" src="{{ hobbie.logo.url }}" alt="{{ hobbie.hobbie }}">{{ hobbie.hobbie }}
      </span>
      </div>
    {%  if forloop.counter|divisibleby:3 or forloop.last %}</div>{%  endif %}
    {% endfor %}
  </div>
  <br>
</div>
{% endblock %}
