{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container text-center">
    <div class="row">
      <div class="col sc-text-1-font">
        <br>
        <h1 class="food-trade-color-1"><b>Food Trade</b></h1>
    </div>
    <div class="row sc-text-1-font">
        <div class="col">
            <p>La base de données : <a href="https://stats.pacificdata.org/vis?tm=trade&pg=0&snb=14&df%5Bds%5D=ds%3ASPC2&df%5Bid%5D=DF_TRADE_FOOD&df%5Bag%5D=SPC&df%5Bvs%5D=1.0&pd=%2C2018&dq=A.Q.AS%2BCK%2BFJ%2BFM%2BGU%2BKI%2BMH%2BMP%2BNC%2BNR%2BNU%2BPF%2BPG%2BPN%2BPW%2BSB%2BTK%2BTO%2BTV%2BVU%2BWF%2BWS.AU_NZ.10%2B11%2B12%2B15%2B16%2B17%2B18%2B19%2B20%2B21%2B22%2B24%2B02%2B03%2B04%2B07%2B08%2B09&ly%5Bcl%5D=TIME_PERIOD&ly%5Brw%5D=COMMODITY&to%5BTIME_PERIOD%5D=false">"Pacific food and beverage trade : The Pacific Food Trade Database"</a></p>
            <br>
            <br>
        </div>
      </div>
    </div>
</div>

<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        <h4 class="food-trade-color-4 sc-text-1-font"><b>Description de la structure de données</b></h4>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div class="row sc-text-1-font">
            <div class="col">
                <p>Cette base de données enregistre pour 18 pays du pacifique, les quantités importées depuis l'ensemble Australie/Nouvelle-Zelande par type de produit 
                    sur une période de 23 ans (de 1995 à 2018).</p>
                <p>La base de données est composée de 13 colonnes et 6552 lignes.</p>
                <p>Toutes les colonnes ne sont pas utiles, il est donc important d'analyser les valeurs composant les colonnes et de ne selectionner dans l'analyse
                    que celles importantes pour l'extraction d'une information.
                 </p>
            </div>
        </div>
        <div class="row sc-text-1-font">
            <div class="col">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Colonne</th>
                        <th scope="col">Description</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>DATAFLOW</td>
                            <td>Composée d'une unique valeur "SPC:DF_TRADE_FOOD(1.0)"</td>
                        </tr>
                        <tr>
                            <td>FREQ: Frequency</td>
                            <td>Composée d'une unique valeur "A: Annual"</td>
                        </tr>
                        <tr>
                        <td>INDICATOR: Indicator</td>
                        <td>Composée d'une unique valeur "Q: Quantity"</td>
                        </tr>
                        <tr>
                        <td class="table-success">IMPORTER: Importer</td>
                        <td class="table-success">18 pays importateurs : 
                            <ul>
                                <li>CK: Cook Islands</li>
                                <li>FJ: Fiji</li>
                                <li>FM: Federated State of Micronesia</li>
                                <li>KI: Kiribati</li>
                                <li>MH: Marshall Islands</li>
                                <li>NC: New Caledonia</li>
                                <li>NR: Nauru</li>
                                <li>NU: Niue'</li>
                                <li>PG: Papua New Guinea</li>
                                <li>PF: French Polynesia</li>
                                <li>PW: Palau</li>
                                <li>SB: Solomon Islands</li>
                                <li>TK: Tokelau</li>
                                <li>TO: Tonga</li>
                                <li>TV: Tuvalu</li>
                                <li>VU: Vanuatu</li>
                                <li>WF: Wallis and Futuna Islands</li>
                                <li>WS: Samoa</li>
                            </ul>
                        </td>
                        </tr>
                        <tr>
                            <td>EXPORTER: Exporter</td>
                            <td>Composée d'une unique valeur "AU_NZ: Australia and New Zealand"</td>
                        </tr>
                        <tr>
                            <td class="table-success">COMMODITY: Commodity</td>
                            <td class="table-success">18 catégories de produits alimentaires : 
                                <ul>
                                    <li>02: Meat and edible meat offal</li>
                                    <li>03: Fish, crustaceans, molluscs, aquatic invertebrates ne</li>
                                    <li>04: Dairy products, eggs, honey, edible animal product nes</li>
                                    <li>07: Edible vegetables and certain roots and tubers</li>
                                    <li>08: Edible fruit, nuts, peel of citrus fruit, melons</li>
                                    <li>09: Coffee, tea, mate and spices</li>
                                    <li>10: Cereals</li>
                                    <li>11: Milling products, malt, starches, inulin, wheat glute</li>
                                    <li>12: Oil seed, oleagic fruits, grain, seed, fruit, etc, ne</li>
                                    <li>15: Animal,vegetable fats and oils, cleavage products, et</li>
                                    <li>16: Meat, fish and seafood food preparations nes</li>
                                    <li>17: Sugars and sugar confectionery','18: Cocoa and cocoa preparations</li>
                                    <li>19: Cereal, flour, starch, milk preparations and products</li>
                                    <li>20: Vegetable, fruit, nut, etc food preparations</li>
                                    <li>21: Miscellaneous edible preparations</li>
                                    <li>22: Beverages, spirits and vinegar</li>
                                    <li>24: Tobacco and manufactured tobacco substitutes</li>
                                    <li>02: Meat and edible meat offal</li> 
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-success">TIME_PERIOD: Time</td>
                            <td class="table-success">23 ans de données (de 1995 à 2018)</td>
                        </tr>
                        <tr>
                            <td class="table-success">OBS_VALUE</td>
                            <td class="table-success">Valeur de quantité échangée</td>
                        </tr>
                        <tr>
                            <td>UNIT_MEASURE: Unit of measure</td>
                            <td>Unité de quantité en Tonnes</td>
                        </tr>
                        <tr>
                            <td>UNIT_MULT: Unit multiplier</td>
                            <td>Sans objet</td>
                        </tr>
                        <tr>
                            <td>OBS_STATUS: Observation Status</td>
                            <td>Sans objet</td>
                        </tr>
                        <tr>
                            <td>DATA_SOURCE: Data source</td>
                            <td>Sans objet</td>
                        </tr>
                        <tr>
                            <td>OBS_COMMENT: Comment</td>
                            <td>Sans objet</td>
                        </tr>
                    </tbody>
                  </table>
            </div>
            <div class='col-lg-4'></div>
        </div>
        <div class="row sc-text-1-font">
            <div class="col">
                <br>
                <p>Dans ce cas précis, 4 colonnes sont utiles. Elles sont surlignées en vert dans le tableau ci-dessus.<br>
                    Les 3 dimensions importantes d'analyses sont : les importateurs, les types de produits importés, l'évolution au cours des années.<br>
                    La valeur mesurée est : la quantité de produits importée en Tonnes.<br>
                    A nous de décortiquer au maximum ces données pour dégager des tendances et proposer des pistes de reflexion.
                </p>
                <br>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
            <h4 class="food-trade-color-4 sc-text-1-font"><b>Analyse n°1 : Importateurs & Quantités totales</b></h4>
        </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="row sc-text-1-font">
                <div class="col-lg-8">
                    <img src={% static 'img/food-trade-1.png' %} class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-lg-4 justify-content-center align-self-center">
                    <p>Dans cette partie, nous nous affranchissons de la dimension "temps" et du type de produits importés.<br>
                       La quantité totale exportée sur 23 ans par l'entité Australie/Nouvelle Zélande vers les îles du pacifique 
                       est de <b class="food-trade-color-4">16'553'168</b> Tonnes tous produits confondus.<br>
                       La Papouasie-Nouvelle-Guinée, Fidji et la Nouvelle-Calédonie représentent à eux seuls <b class="food-trade-color-4">80 %</b> du marché.<br>
                    <br>
                    <i class="fa-regular fa-lightbulb"></i> Il serait interessant par la suite de mettre en perspective les quantités importées par rapport à la population de ces pays.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true" aria-controls="panelsStayOpen-collapseThree">
            <h4 class="food-trade-color-4 sc-text-1-font"><b>Analyse n°2 : Type de produits & Quantités totales</b></h4>
        </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="row sc-text-1-font">
                <div class="col-lg-4 justify-content-center align-self-center">
                    <p>Dans cette partie, nous nous affranchissons de la dimension "temps" et des pays importateurs.<br>
                       La quantité totale exportée sur 23 ans par l'entité Australie/Nouvelle Zélande vers les îles du pacifique 
                       reste la même <b class="food-trade-color-4">16'553'168</b> Tonnes tous produits confondus.<br>
                       <br>
                       Plus de <b class="food-trade-color-4">50 %</b> de la marchandise importée rentre dans la catégorie <b class="food-trade-color-4">céréales</b>.<br>
                       <br>
                       <b class="food-trade-color-4">5</b> types de produits représentent <b class="food-trade-color-4">80 %</b> des importations.<br>
                       <ul>
                        <li>Les Céréales</li>
                        <li>La viande</li>
                        <li>Les légumes</li>
                        <li>Produits laitiers, œufs, miel & autres produits d'orgine animale comestibles</li>
                        <li>Dérivés des céréales</li>
                       </ul>
                       <br>
                       <i class="fa-regular fa-lightbulb"></i> Pour aller plus loin, on pourrait s'interroger si cette distribution est la même pour chaque pays importateur.
                    </p>
                </div>
                <div class="col-lg-8">
                    <img src={% static 'img/food-trade-2.png' %} class="img-fluid" alt="Responsive image">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true" aria-controls="panelsStayOpen-collapseFour">
            <h4 class="food-trade-color-4 sc-text-1-font"><b>Analyse n°3 : Type de produits & Quantités totales par Importateurs</b></h4>
        </button>
    </h2>
    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="row sc-text-1-font">
                <div class="col">
                    <img src={% static 'img/food-trade-3.png' %} class="img-fluid" alt="Responsive image">
                </div>
            </div>
            <div class="row sc-text-1-font">
                <div class="col">
                    <p>Dans cette partie, on complique un peu les choses en regardant la valeur totale d'import en <b class="food-trade-color-4">deux dimensions</b> : 
                       par <b>type de produits</b> et par <b>pays importateurs</b>.<br>
                       <br>
                       <b><i class="fa-solid fa-glasses"></i> Comment lire le visuel ?</b><br>
                       <ul>
                        <li>En ordonnée/verticalement : les types de produits</li>
                        <li>En abscisse/horizontalement : les pays importateurs</li>
                        <li>Pour faciliter la lecture, toutes les valeurs sont données en pourcentage du total d'import par pays.</li>
                        <li>La première colonne est le % total par type de produits sommé pour tous les pays. Les valeurs sont donc indentiques à celles observées dans camembert de l'analyse précédente.</li>
                        <li>Les types de produit sont classés par ordre décroissant (de haut en bas) vis à vis de la quantité en tonnes importées sur 23 ans.</li>
                        <li>Les pays importateurs sont classés par ordre décroissant (de gauche à droite) vis à vis de la quantité en tonnes importées sur 23 ans.</li>
                        <li>Le total de chaque colonne est logiquement égale à 100%</li>
                       </ul>
                        <br>
                        <b>Analyse</b><br>
                        <p>Aucun pays n'a la même répartition d'import que le classement moyen observé dans la première colonne et dans l'analyse précédente.<br>
                        Pour la majorité des pays étudiés, <b class="food-trade-color-4">80%</b> des imports sont répartis sur <b class="food-trade-color-4">5</b> types de produits ou moins.<br>
                        Le top 5 moyen des types de produits importés visualisés à l'analyse n°2 est fortement inflencé par les gros pays importateurs. Il n'est pas
                        représentatif de l'ensemble des habitudes des autres îles du pacifiques.<br>
                        La Polynésie Française ou le Vanuatu sont deux exemples de pays qui ont une distribution d'import plus varié et moins basé sur un monoproduit.
                        </p>
                        <br>
                        <br>
                       <i class="fa-regular fa-lightbulb"></i> Les 3 analyses précendes ne prennent pas en compte l'évolution des imports dans le temps. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="true" aria-controls="panelsStayOpen-collapseFive">
            <h4 class="food-trade-color-4 sc-text-1-font"><b>Analyse n°4 : Evolution des Quantités totales sur 23 ans</b></h4>
        </button>
    </h2>
    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="row sc-text-1-font">
                <div class="col-lg-8">
                    <div class="row">
                        <img src={% static 'img/food-trade-4.png' %} class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="row">
                        <img src={% static 'img/food-trade-5.png' %} class="img-fluid" alt="Responsive image">
                    </div>
                </div>
                <div class="col-lg-4 justify-content-center align-self-center">
                    <p>Dans cette analyse on insere enfin la notion d'évolution dans le <b class="food-trade-color-4">temps</b><br>
                       <br>
                       <b><i class="fa-solid fa-glasses"></i> Comment lire les visuels ?</b><br>
                        <p>Sur le visuel du haut : 
                            <ul>
                                <li>en jaune la quantité totale exportée par le groupe Australie/Nouvelle-Zelande par an.</li>
                                <li>en vert l'écart à la moyenne en % par pays et par année.
                            </ul>
                        </p>
                        <p>Sur le visuel du bas : 
                            <ul><li>la part de l'écart type dans la moyenne en % pour chaque importateur sur la période de 23 ans.</li></ul></p>
                        <br>
                        <b>Analyse</b><br>
                        <p>Sur<b class="food-trade-color-4">23 ans</b>, la quantité échangée par an a <b class="food-trade-color-4">doublée</b>.<br>
                           Cela signifie biensur qu'en moyenne, l'ensemble des pays importent plus, mais on constate également une dispertion plus importante des quantités 
                           importées à mesure que le temps passe. En effet, en 1995 l'ensemble des pays sont plutôt proches de leur moyennes (courbes centrées/regroupées autour de 0), 
                            beaucoup moins en 2018. Les nombreux pics observés sont autant d'instabilités d'import significatives et témoignant potentiellement d'instabilités
                            d'approvisionnement. Soit du coté importateurs, soit du coté exportateurs.<br>
                        <br>
                        L'écart type est une representation de l'écart moyen à la moyenne. L'écart type / la moyenne représente en pourcentage la part de l'écart type
                        dans la moyenne. Plus cette valeur est petite, plus l'importateur à tendance à être constant dans ses volumes d'importation. Palau à une politique 
                        d'importation très volatile quand Samoa est beaucoup plus constant chaque année sur ses volumes importés.
                        <br>
                        <br>
                       <i class="fa-regular fa-lightbulb"></i> Il peut être interessant de comparer l'évolution démographique à l'évolution des quantités importées par année
                       pour potentielement y déceler une correlation. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="true" aria-controls="panelsStayOpen-collapseSix">
            <h4 class="food-trade-color-4 sc-text-1-font"><b>Analyse n°5 : Evolution des Quantités par Type de produit sur 23 ans</b></h4>
        </button>
    </h2>
    <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="row sc-text-1-font">
                <div class="col-lg-4 justify-content-center align-self-center">
                       <b><i class="fa-solid fa-glasses"></i> Comment lire les visuels ?</b><br>
                       <p>Sur le visuel du haut : 
                            <ul>
                                <li>Pour chaque type de produit, le taux de variation depuis l'origine de la quantité dans les îles de pacifique par année.</li>
                            </ul>
                        </p>
                        <p>Sur le visuel du milieu : 
                            <ul>
                                <li>Pour chaque type de produit, la quantité en tonnes d'export dans les îles de pacifique par année.</li>
                            </ul>
                        </p>
                        <p>Sur le visuel du bas : 
                                <ul>
                                    <li>Pour les Céréales seulement, la quantité importée par an par chaque pays étudiés.</li>
                                </ul>
                        </p>
                        <br>
                        <b>Analyse</b><br>
                        <p> Sur la figure du haut, la courbe en pointillée noir montre un taux de variation d'import total de <b class="food-trade-color-4">100%</b>, c'est à dire un 
                            <b class="food-trade-color-4">doublement</b> de la quantité totale importée. Certain produit comme les céréales et les fruits 
                            ont triplé en volume (taux de variation de 200%), d'autres comme le tabac ont chuté de 50-60% par rapport à l'origine.<br>
                            <br>
                            La figure du milieu met en évidence que l'évolution globale de la quantité exportée est dictée par
                            l'augmentation des échanges de <b class="food-trade-color-4">céréales</b>. L'évolution du reste des types de produits semble bien marginale même si observable
                            à la hausse sur 23 ans. L'échange de céréales à quasiment été multiplié par <b class="food-trade-color-4">3</b>.<br>
                        <br>
                            En discrétisant nos observation seulement sur les céréales, on observe que 2 pays conduisent à cette augmentation : La Papouasie-Nouvelle-Guinée et Fidji.
                        <br>
                    </p>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <img src={% static 'img/food-trade-8.png' %} class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="row">
                        <img src={% static 'img/food-trade-6.png' %} class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="row">
                        <img src={% static 'img/food-trade-7.png' %} class="img-fluid" alt="Responsive image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="true" aria-controls="panelsStayOpen-collapseSeven">
            <h4 class="food-trade-color-4 sc-text-1-font"><b>Analyse n°6 : Impact de la démographie sur les observations</b></h4>
        </button>
    </h2>
    <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="row sc-text-1-font">
                <div class="col-lg-8">
                    <div class="row">
                        <img src={% static 'img/food-trade-9.png' %} class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="row">
                        <img src={% static 'img/food-trade-10.png' %} class="img-fluid" alt="Responsive image">
                    </div>
                </div>
                <div class="col-lg-4 justify-content-center align-self-center">
                        <p>Pour cette analyse, une seconde base de données à été utilisée. Il s'agit de la population totale par année et par pays 
                            disponible sur le site de la banque mondiale : <a href="https://donnees.banquemondiale.org/indicator/SP.POP.TOTL">ici</a>.<br>
                            A savoir, les données ne sont pas disponibles pour : CK: Cook Islands, NU: Niue, WF: Wallis and Futuna Islands, TK: Tokelau. L'analyse
                            est donc partielle par rapport au référentiel initial.</p>
                        <br>
                       <b><i class="fa-solid fa-glasses"></i> Comment lire les visuels ?</b><br>
                        <p>Le visuel du haut est composé de deux graphiques : 
                            <ul>
                                <li>La population cumulée des îles du pacifique sur la période.</li>
                                <li>Le taux de variation de la population par pays.</li>
                            </ul>
                        </p>
                        <p>Sur le visuel du bas : 
                            <ul><li>Une matrice donnant pour chaque pays et pour chaque années la quantité importée en kg/habitant.</li></ul></p>
                        <br>
                        <b>Analyse</b><br>
                        <p>La Papouasie-Nouvelle-Guinée est de loin le pays ayant le plus d'habitant et possédant la croissance démographique la plus importante 
                            sur l'ensemble de la période. La population a <b class="food-trade-color-4">doublé</b> en 23 ans et le pays tire à lui tout seul l'augmentation
                            de population globale de la région. Il est intéressant de noter que les Iles Marshall et la Micronésie ont, sur 23 ans, une croissance démographique
                            quasi nulle ou négative.<br>
                        <br>
                        La carte de chaleur nous rèvele qu'il y a une forte disparitée dans la quantité d'importation par personne et par pays. Cela permet de comprendre 
                        que la Papousasie-Nouvelle-Guinée se classe premier importateur par son poids en population, alors que Fidji et la Nouvelle-Calédonie sont sur le podium également 
                        par la grande quantité importée par personnes. 
                        <br>
                        <br>
                        <i class="fa-regular fa-lightbulb"></i> Cette analyse répond à certaines questions mais soulève également beaucoup d'interrogations annexes :
                        <ul>
                            <li>Quel est l'impact du PIB par pays dans leur capacité à importer ?</li>
                            <li>Quelle stratégie de résilience pour les pays ayant d'enormes quantités importée par personne ?</li>
                            <li>Quelle sont les part d'alimentation locale dans les différents pays ?</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsehuit" aria-expanded="true" aria-controls="panelsStayOpen-collapsehuit">
            <h4 class="food-trade-color-4 sc-text-1-font"><b>Conclusions</b></h4>
        </button>
    </h2>
    <div id="panelsStayOpen-collapsehuit" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="row sc-text-1-font">
                <div class="col justify-content-center align-self-center">
                        <p>Les 6 analyses graphiques ci-dessous nous ont permis de comprendre mieux le sujet de l'importation de nourriture dans les iles
                            du pacifique. Voici un résumé des points principaux à retenir :
                            <ul>
                                <li>3 des 13 pays étudiés représente 80% des importations de la zone en quantité : La Papouasie-Nouvelle-Guinée, Fidji et la Nouvelle Calédonie.</li>
                                <li>La moitié des tonnes échangées sont des céréales. 5 des 13 catégories de produits représente 80% des échanges.</li>
                                <li>Toutes les iles du pacifique n'ont pas les mêmes habitudes d'importation en terme de produit. Mais dans la majorité des cas, un des types
                                    de produit représente plus de 20-30% du total des importations.
                                </li>
                                <li>Sur 23 ans, la quantité importée à doublée.</li>
                                <li>La volatilité des quantités importés est assez important d'une année à l'autre pour la majorité des pays. Ceci pourrait pottentiellement se justifier
                                    par des evenement exogènes impactant la ressource locale.
                                </li>
                                <li>La quantité globale importée a doublé. Pour autant ce n'est pas le cas de tout les types de produits. Certains ont triplé (céréales, fruits), d'autres 
                                    ont diminué de moitié (tabac).
                                </li>
                                <li>La population a augmenté de 80% dans la région sur la période étudié. L'augmentation de la population est donc bien correlée avec l'augmentation des importations. 
                                    Toutefois, les pays importent en moyenne plus de 2018 qu'en 1995 certainnement au détriment des productions locales. Cela les rends donc automatiquement 
                                    mois résilient aux événements internationaux impactant les échanges. Il aurait été interessant d'étudier les chiffres sur les années covid.
                                </li>
                            </ul>
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
