{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container text-center">
    <div class="row">
      <div class="col sc-text-1-font">
        <br>
        <h1 class="food-security-color-1"><b>Food Security</b></h1>
    </div>
    <div class="row sc-text-1-font">
        <div class="col">
            <p>La base de données : <a href="https://stats.pacificdata.org/vis?tm=food%20security&pg=0&snb=17&df[ds]=ds%3ASPC2&df[id]=DF_FOOD_SECURITY_HIES_3&df[ag]=SPC&df[vs]=1.0&pd=%2C&dq=A........&ly[cl]=INDICATOR&ly[rw]=FOOD&to[TIME_PERIOD]=false">"Food security: Nutritional facts by type of food, by geography, sex, age and urbanization (Kiribati, Solomon Islands and Vanuatu)"</a></p>
            <br>
            <br>
        </div>
      </div>
    </div>
</div>

<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          <h4 class="food-security-color-2 sc-text-1-font"><b>Description de la structure de données</b></h4>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
        <div class="accordion-body">
          <div class="row sc-text-1-font">
              <div class="col">
                  <p>La base de données est composée de 18 colonnes et 9119 lignes.</p>
                  <p>Toutes les colonnes ne sont pas utiles, il est donc important d'analyser les valeurs composant les colonnes et de ne selectionner dans l'analyse
                      que celles importantse pour l'extraction d'une information.
                   </p>
              </div>
          </div>
          <div class="row sc-text-1-font">
              <div class="col">
                  <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Colonne</th>
                          <th scope="col">Description</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>DATAFLOW</td>
                              <td>Composée d'une unique valeur "SPC:DF_FOOD_SECURITY_HIES_3(1.0)"</td>
                          </tr>
                          <tr>
                              <td>FREQ: Frequency</td>
                              <td>Composée d'une unique valeur "A: Annual"</td>
                          </tr>
                          <tr>
                          <td class="table-primary">TIME_PERIOD: Time</td>
                          <td class="table-primary">2 valeurs : 2012, 2019</td>
                          </tr>
                          <tr>
                          <td class="table-primary">GEO_PICT: Pacific Island Countries and territories</td>
                          <td class="table-primary">23 valeurs, 3 pays et leur régions concernées :
                            <ul>  
                            <li>KI: Kiribati (KI-A: Northern Kiribati, KI-B: South Tarawa, KI-C: Central Kiribati, KI-D: Southern Kiribati, KI-E: Line & Phoenix)</li> 
                            <li>SB: Solomon Islands (SB-1: Choiseul, SB-2: Western, SB-3: Isabel, SB-4: Central, SB-5: Rennell-Bell, SB-6: Guadalcanal, SB-7: Malaita, SB-8: Makira-Ulawa, SB-9: Temotu, SB-10: Honiara)</li> 
                            <li>VU: Vanuatu (VU-1: Torba, VU-2: Sanma, VU-3: Penama, VU-4: Malampa, VU-5: Shefa, VU-6: Tafea)</li>
                            </ul>
                        </td>
                          </tr>
                          <tr>
                              <td class="table-primary">INDICATOR: Indicator</td>
                              <td class="table-primary">8 indicateurs : 
                                <ul>
                                <li>CONSGTAVG: Percentage of households who consumed more than the average number of products consumed in the group</li>
                                <li>AQAA: Average quantity as acquired</li>
                                <li>AVGEQ: Average edible quantity</li>
                                <li>AVGDEC: Average Dietary Energy Consumption</li>
                                <li>AVGEXP: Average expenditures</li>
                                <li>CONSAL1: Percentage of HH who consumed at least one product of the group</li>
                                <li>CONSLTAVG: Percentage of households who consumed less than the average number of products consumed in the group</li>
                                <li>AVGNPRDCONS: Average number of products consumed by household by food group</li>
                                </ul>
                              </td>
                          </tr>
                          <tr>
                              <td class="table-primary">SEX: Sex</td>
                              <td class="table-primary">3 dimensions :
                                <ul>
                                    <li>F: Female</li>
                                    <li>M: Male</li>
                                    <li>_T: Total</li>
                                </ul>
                            </td>
                          </tr>
                          <tr>
                              <td class="table-primary">AGE: Age</td>
                              <td class="table-primary">4 dimensions :
                                <ul>
                                    <li>Y15T24: 15-24</li>
                                    <li>Y25T59: 25-59</li>
                                    <li>Y60T999: 60+</li>
                                    <li>_T: All ages</li>
                                </ul>
                            </td>
                          </tr>
                          <tr>
                              <td class="table-primary">URBANIZATION: Urbanization</td>
                              <td class="table-primary">3 dimensions :
                                <ul>
                                    <li>U: Urban</li>
                                    <li>R: Rural</li>
                                    <li>_T: National</li>
                                </ul>
                            </td>
                          </tr>
                          <tr>
                              <td class="table-primary">POVERTY: Poverty</td>
                              <td class="table-primary">3 dimensions : 
                                <ul>
                                    <li>NOP: No poverty</li>
                                    <li>POV: Poverty</li>
                                    <li>_T: Total</li>
                                </ul>
                            </td>
                          </tr>
                          <tr>
                            <td class="table-primary">FOOD_SECURITY: Food security</td>
                            <td class="table-primary">3 dimensions :
                                <ul>
                                    <li>FOODSEC: Food secure or mildly food insecur</li>
                                    <li>FOODINS: Moderately or severely food insecure</li>
                                    <li>_T: Total</li>
                                </ul>
                            </td>
                        </tr>
                          <tr>
                              <td class="table-primary">FOOD: Food category</td>
                              <td class="table-primary">21 types de produits : 
                                <ul>
                                    <li>1: Cereals and cereal products</li>
                                    <li>2: Roots and tubers</li>
                                    <li>3: Sugars and syrups</li>
                                    <li>4: Pulses</li>
                                    <li>5: Oils crops</li>
                                    <li>6: Vegetables and vegetable products</li>
                                    <li>7: Fruits and fruit products</li>
                                    <li>8: Stimulants</li>
                                    <li>9: Spices and additive</li>
                                    <li>10: Alcoholic beverages</li>
                                    <li>11: Meat and meat products</li>
                                    <li>12: Eggs</li>
                                    <li>13: Fish and fish products</li>
                                    <li>14: Milk and cheese</li>
                                    <li>15: Vegetable oils and fats</li>
                                    <li>16: Oils and fats</li>
                                    <li>17: Non alcoholoc beverages/li>
                                    <li>18: Miscellaneous and prepared foods</li>
                                    <li>19: Meals consumed away from home</li>
                                    <li>20: Tobacco/kava</li>
                                    <li>21: Tree nuts</li>
                                </ul>
                              </td>
                          </tr>
                          <tr>
                              <td class="table-primary">OBS_VALUE</td>
                              <td class="table-primary">Valeur/quantité</td>
                          </tr>
                          <tr>
                              <td td class="table-primary">UNIT_MEASURE: Unit of measure</td>
                              <td td class="table-primary">5 unités de mesures : 
                                <ul>
                                    <li>N: units</li>
                                    <li>G_POP_DAY: g/capita/day</li>
                                    <li>KCAL_POP_DAY: kcal/capita/day</li>
                                    <li>USD_POP_DAY: $/capita/day</li>
                                    <li>PERCENT: percent</li>
                                </ul>
                            </td>
                          </tr>
                          <tr>
                              <td>UNIT_MULT: Unit multiplier</td>
                              <td>Sans objet</td>
                          </tr>
                          <tr>
                            <td>OBS_STATUS: Observation Status</td>
                            <td>Sans objet</td>
                        </tr>
                        <tr>
                            <td>DATA_SOURCE: Data source</td>
                            <td>Sans objet</td>
                        </tr>
                        <tr>
                            <td>OBS_COMMENT: Comment</td>
                            <td>Sans objet</td>
                        </tr>
                        <tr>
                            <td>CONF_STATUS: Confidentiality status</td>
                            <td>Sans objet</td>
                        </tr>    
                      </tbody>
                    </table>
              </div>
              <div class='col-lg-4'></div>
          </div>
          <div class="row sc-text-1-font">
              <div class="col">
                  <br>
                  <p>Dans cette base de données, <b class="food-security-color-4">11</b> colonnes sont utiles. Elles sont surlignées en bleu dans le tableau ci-dessus.<br>
                     Cette base de données est plus complexe que les autres, elles contient un nombre important de dimensions (<b class="food-security-color-4">10</b>) qui sont 
                     tout autant d'angles d'analyse différents.<br>
                     De plus, la valeur mesurée est également dans plusieurs unités.<br>
                     A nous de décortyquer au maximum ces données pour dégager des tendances et proposer des pistes de reflexion.
                  </p>
                  <p>Quelques précisions suplémentaires sur la colonne <b class="food-security-color-4">INDICATOR: Indicator</b> : 
                    <ul>
                        <li>CONSGTAVG (%): Pourcentage des ménages ayant consommés plus que le nombre moyen de produits consommés dans le groupe'</li>
                        <li>AQAA (g/capita/day): Quantité moyenne telle qu'acquise</li>
                        <li>AVGEQ (g/capita/day): Quantité comestible moyenne (AQAA - pertes)</li>
                        <li>AVGDEC (kcal/capita/day) : Consommation énergétique alimentaire moyenne</li>
                        <li>AVGEXP (dollar/capita/day) : Dépenses moyennes</li>
                        <li>CONSAL1 (%): Pourcentage de ménages ayant consommé au moins un produit du groupe</li>
                        <li>CONSLTAVG: Pourcentage de ménages ayant consommé moins que le nombre moyen de produits consommés dans le groupe</li>
                        <li>AVGNPRDCONS: Nombre moyen de produits consommés par ménage par groupe alimentaire</li>
                        <li>CONSGTAVG + CONSLTAVG = CONSAL1</li>
                        <li>1 - CONSAL1 = % des ménages n'ayant consommés aucun produit dans le groupe</li>
                    </ul>         
                  <br>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
              <h4 class="food-security-color-2 sc-text-1-font"><b>Analyse n°1 : Importateurs & Quantités totales</b></h4>
          </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
          <div class="accordion-body">
              <div class="row sc-text-1-font">
                  <div class="col-lg-8">
                      <img src={% static 'img/food-trade-1.png' %} class="img-fluid" alt="Responsive image">
                  </div>
                  <div class="col-lg-4 justify-content-center align-self-center">
                      <p>Dans cette partie, nous nous affranchissons de la dimension "temps" et du type de produits importés.<br>
                         La quantité totale exportée sur 23 ans par l'entité Australie/Nouvelle Zélande vers les îles du pacifique 
                         est de <b class="food-trade-color-4">16'553'168</b> Tonnes tous produits confondus.<br>
                         La Papouasie Nouvelle Guinée, Fidji et la Nouvelle-Calédonie représente à eux seul <b class="food-trade-color-4">80 %</b> du marché.<br>
                      <br>
                      <i class="fa-regular fa-lightbulb"></i> Il serait interessant par la suite de mettre en perspective les quantités importées par rapport à la population de ces pays.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsehuit" aria-expanded="true" aria-controls="panelsStayOpen-collapsehuit">
            <h4 class="food-security-color-2 sc-text-1-font"><b>Conclusions</b></h4>
        </button>
    </h2>
    <div id="panelsStayOpen-collapsehuit" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="row sc-text-1-font">
                <div class="col justify-content-center align-self-center">
                        <p>Les 6 analyses graphiques ci-dessous nous ont permis de comprendre mieux le sujet de l'importation de nourriture dans les iles
                            du pacifique. Voici un résumé des points principaux à retenir :
                            <ul>
                                <li>3 des 13 pays étudiés représente 80% des importations de la zone en quantité : La Papouasie-Nouvelle-Guinée, Fidji et la Nouvelle Calédonie.</li>
                                <li>La moitié des tonnes échangées sont des céréales. 5 des 13 catégories de produits représente 80% des échanges.</li>
                                <li>Toutes les iles du pacifique n'ont pas les mêmes habitudes d'importation en terme de produit. Mais dans la majorité des cas, un des types
                                    de produit représente plus de 20-30% du total des importations.
                                </li>
                                <li>Sur 23 ans, la quantité importée à doublée.</li>
                                <li>La volatilité des quantités importés est assez important d'une année à l'autre pour la majorité des pays. Ceci pourrait pottentiellement se justifier
                                    par des evenement exogènes impactant la ressource locale.
                                </li>
                                <li>La quantité globale importée a doublée. Pour autant ce n'est pas le cas de tout les types de produits. Certains ont triplé (céréales, fruits), d'autres 
                                    ont diminué de moitié (tabac).
                                </li>
                                <li>La population a augmenté de 80% dans la région sur la période étudié. L'augmentation de la population est donc bien correlée avec l'augmentation des importations. 
                                    Toutefois, les pays importe en moyenne plus de 2018 qu'en 2015 certainnement au détriment des productions locales. Cela les rends donc automatiquement 
                                    mois résilient aux événements internationaux impactant les échanges. Il aurait été interessant d'étudier les chiffres sur les années covid.
                                </li>
                            </ul>
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
