{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container text-center">
    <div class="row">
      <div class="col sc-text-1-font">
        <br>
        <h1 class="fruits-color-1"><b>Fruits & Légumes en Nouvelle-Calédonie</b></h1>
    </div>
    <div class="row sc-text-1-font">
        <div class="col">
            <p>La base de données : <a href="https://data.gouv.nc/explore/?flg=fr&disjunctive.theme&disjunctive.publisher&disjunctive.keyword&disjunctive.attributions&disjunctive.license&sort=explore.popularity_score&refine.keyword=PacificDatavizChallenge2023&refine.attributions=%20Direction%20des%20Affaires%20V%C3%A9t%C3%A9rinaires,%20Alimentaires%20et%20Rurales%20(DAVAR)">"Marché des fruits et légumes en Nouvelle-Calédonie"</a></p>
            <br>
            <br>
        </div>
      </div>
    </div>
</div>

<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          <h4 class="fruits-color-2 sc-text-1-font"><b>Description de la structure de données</b></h4>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
        <div class="accordion-body">
          <div class="row sc-text-1-font">
              <div class="col">
                  <p>La base de données est composée de deux fichiers presque identiques (en orange sont identifiés ci-dessous les colonnes qui diffères).<br>
                     Ces bases de données référencent les quantités et valeurs de fruits et légumes en <b class="fruits-color-1">Nouvelle-Calédonie</b>.<br>
                     Le premier que nous nommerons <b class="fruits-color-2">FL_1</b> est composé de 13 colonnes et 5132 lignes.<br>
                     Le second que nous nommerons <b class="fruits-color-2">FL_2</b> est composé de 13 colonnes et 278 lignes.</p>
              </div>
          </div>
          <div class="row sc-text-1-font">
            <div class="col">
                <h3>FL_1</h3>
            </div>
        </div>
          <div class="row sc-text-1-font">
            <div class='col-lg-1'></div>
              <div class="col">
                  <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Colonne</th>
                          <th scope="col">Description</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td class="table-warning">annee</td>
                              <td class="table-warning">11 ans de données (2012 à 2023)</td>
                          </tr>
                          <tr>
                              <td class="table-warning">mois</td>
                              <td class="table-warning">Les mois de l'année numérotés de 1 à 12</td>
                          </tr>
                          <tr>
                          <td class="table-warning"><span style="color: #F05500">regroupement1</span></td>
                          <td class="table-warning">Les types de fruits et légumes : 
                            <ul>
                                <li>Les légumes (27) : AIL, AUBERGINE, AUTRES LEGUMES, AVOCAT, BROCOLI, CAROTTE, CELERI, CHOUCHOUTE, CHOU DE CHINE, CHOU FLEUR, CHOU ROUGE, 
                                    CHOU VERT ET BLANC, CONCOMBRE, COURGETTE, HARICOT VERT ET BEURRE, MAIS DOUX, OIGNONS, OIGNONS VERT, PASTEQUE, PATATES DOUCES, 
                                    PERSIL CHINOIS, PERSIL FRANCAIS, POIREAU, POIVRONS, RADIS, SALADES, TOMATES</li>
                                <li>Les fruits (16) : ANANAS, AUTRES FRUITS, BANANE DESSERT, CITRON ET LIME, LETCHI, MANDARINE, MANGUE, MELON, NECTARINE, NAVET, ORANGE, 
                                    PAMPLEMOUSSE ET POMELO, PAPAYE, POMME CANELLE, POMME LIANE, TANGELO</li>
                            <ul>
                          </td>
                          </tr>
                          <tr>
                          <td class="table-warning">regroupement2</td>
                          <td class="table-warning">2 catégories : TOTAL LEGUMES, TOTAL FRUITS (HORS VANILLE)</td>
                          </tr>
                          <tr>
                              <td class="table-warning">poids_enquete_kg</td>
                              <td class="table-warning">Mesure poids enquête producteur en kg</td>
                          </tr>
                          <tr>
                              <td class="table-warning">poids_mg_kg</td>
                              <td class="table-warning">Mesure poids marché de gros en kg</td>
                          </tr>
                          <tr>
                              <td class="table-warning">valeur_tot_mg_fr</td>
                              <td class="table-warning">Mesure valeurs marché de gros en xpf</td>
                          </tr>
                          <tr>
                              <td class="table-warning">valeur_moy'</td>
                              <td class="table-warning">Mesure calculée valeur_tot_mg_fr/poids_mg_kg en xpf/kg</td>
                          </tr>
                          <tr>
                              <td class="table-warning"><span style="color: #F05500">besoin_marche_t</span></td>
                              <td class="table-warning">Mesure besoin du marché en tonnes</td>
                          </tr>
                          <tr>
                              <td class="table-warning">quotas_date_debut</td>
                              <td class="table-warning">Date début des quotas</td>
                          </tr>
                          <tr>
                              <td class="table-warning">quotas_date_fin</td>
                              <td class="table-warning">Date fin des quotas</td>
                          </tr>
                          <tr>
                              <td class="table-warning">quotas_contingent_t</td>
                              <td class="table-warning">Mesure quotas validé en tonnes</td>
                          </tr>
                          <tr>
                              <td class="table-warning">quotas_realise_t</td>
                              <td class="table-warning">Mesure qutoas réalisé en tonnes</td>
                          </tr>
                      </tbody>
                    </table>
              </div>
              <div class='col-lg-1'></div>
          </div>
          <div class="row sc-text-1-font">
              <div class="col">
                  <br>
                  <p>Dans <b class="fruits-color-2">FL_1</b>, ci-dessus, toutes les colonnes peuvent être utiles à l'analyse.<br>
                     Les dimensions d'analyses sont les colonnes : annee, mois, regroupement 1 et 2 et enventuellement dates quotas début et fin<br>
                     Les valeurs mesurées sont des quantités en poids ou une valorisation.<br>
                  </p>
                  <br>
              </div>
          </div>
          <div class="row sc-text-1-font">
            <div class="col">
                <h3>FL_2</h3>
            </div>
        </div>
        <div class="row sc-text-1-font">
            <div class='col-lg-1'></div>
            <div class="col">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Colonne</th>
                        <th scope="col">Description</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="table-warning">annee</td>
                            <td class="table-warning">11 ans de données (2012 à 2023)</td>
                        </tr>
                        <tr>
                            <td class="table-warning">mois</td>
                            <td class="table-warning">Les mois de l'année numérotés de 1 à 12</td>
                        </tr>
                        <tr>
                        <td class="table-warning">regroupement2</td>
                        <td class="table-warning">2 catégories : TOTAL LEGUMES, TOTAL FRUITS (HORS VANILLE)</td>
                        </tr>
                        <tr>
                            <td class="table-warning">poids_enquete_kg</td>
                            <td class="table-warning">Mesure poids enquête producteur en kg</td>
                        </tr>
                        <tr>
                            <td class="table-warning">poids_mg_kg</td>
                            <td class="table-warning">Mesure poids marché de gros en kg</td>
                        </tr>
                        <tr>
                            <td class="table-warning">valeur_tot_mg_fr</td>
                            <td class="table-warning">Mesure valeur marché de gros en xpf</td>
                        </tr>
                        <tr>
                            <td class="table-warning">valeur_moy'</td>
                            <td class="table-warning">Mesure calculée valeur_tot_mg_fr/poids_mg_kg en xpf/kg</td>
                        </tr>
                        <tr>
                            <td class="table-warning"><span style="color: #F05500">indice_isee</span></td>
                            <td class="table-warning">Mesure indice isee image de la variation des prix en NC</td>
                        </tr>
                        <tr>
                            <td class="table-warning"><span style="color: #F05500">indice_mg</span></td>
                            <td class="table-warning">Mesure indice mg image de la variation des prix en NC</td>
                        </tr>
                        <tr>
                            <td class="table-warning">quotas_date_debut</td>
                            <td class="table-warning">Date début des quotas</td>
                        </tr>
                        <tr>
                            <td class="table-warning">quotas_date_fin</td>
                            <td class="table-warning">Date fin des quotas</td>
                        </tr>
                        <tr>
                            <td class="table-warning">quotas_contingent_t</td>
                            <td class="table-warning">Mesure quotas validé en tonnes</td>
                        </tr>
                        <tr>
                            <td class="table-warning">quotas_realise_t</td>
                            <td class="table-warning">Mesure qutoas réalisé en tonnes</td>
                        </tr>
                    </tbody>
                  </table>
            </div>
            <div class='col-lg-1'></div>
        </div>
        <div class="row sc-text-1-font">
            <div class="col">
                <br>
                <p>Dans <b class="fruits-color-2">FL_2</b>, ci-dessus, toutes les colonnes peuvent être utiles à l'analyse.<br>
                   Les dimensions d'analyses sont les colonnes : annee, mois, regroupement 2 et enventuellement dates quotas début et fin<br>
                   Les valeurs mesurées sont des quantités en poids, la valorisation ou des indices.<br>
                </p>
                <br>
            </div>
        </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
              <h4 class="fruits-color-2 sc-text-1-font"><b>Analyse n°1 : evolution annuelle et mensuelle des quantités et prix de fruits et légumes en Nouvelle-Calédonie</b></h4>
          </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
          <div class="accordion-body">
              <div class="row sc-text-1-font">
                <div class="col-lg-8 justify-content-center align-self-center">
                    <div class="row">
                        <img src={% static 'img/fruits-legumes-1.png' %} class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="row">
                        <img src={% static 'img/fruits-legumes-2.png' %} class="img-fluid" alt="Responsive image">
                    </div>
                </div>
                <div class="col-lg-4 justify-content-center align-self-center">
                    <p>Dans ces visuels, nous étudions l'évolution annuelle et mensuelle de la quantité totale de fruits et légumes (producteurs et MG) en tonnes 
                        et du prix moyen au kg en francs<br><br>

                      
                      <b><i class="fa-solid fa-glasses"></i> Comment lire les visuels ?</b><br>
                      <ul>
                        <li>En haut l'évolution annuelle</li>
                        <li>En bas l'évolution mensuelle</li>
                        <li>En bleu les légumes, en vert les fruits en Tonnes</li>
                        <li>En jaune les légumes, en orange les fruits en XPF/KG</li>
                      </ul>
                    <b>Analyse</b><br>
                      Sur l'évolutoion annuelle on observe une baisse des quantités en tendance et une augmentations significatives des prix notamment sur les 3-4 dernières années.<br>
                      C'est une démonstration réelle de la loi de l'offre et de la demande.
                      Sur l'évolution mensuelle on observe la saisonalité des productions. Les prix semblent inversement corrélés pour les légumes. L'observation est moins vraie pour les fruits.<br>

                    </p>
                </div>
              </div>
          </div>
      </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTree" aria-expanded="true" aria-controls="panelsStayOpen-collapseTree">
            <h4 class="fruits-color-2 sc-text-1-font"><b>Analyse n°2 : quantité par type de légumes et variation annuelle</b></h4>
        </button>
    </h2>
    <div id="panelsStayOpen-collapseTree" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="row sc-text-1-font">
              <div class="col-lg-4 justify-content-center align-self-center">
                  <p>Dans ces visuels, nous étudions sur 11 ans de la quantité totale légumes en tonnes par type de légumes<br><br>

                    
                    <b><i class="fa-solid fa-glasses"></i> Comment lire les visuels ?</b><br>
                    <ul>
                      <li>En haut un histogramme en deux dimensions représentant l'évolution de la quantité en tonnes</li>
                      <li>En bas le taux de variation des quantité sur 11 ans.</li>
                      <li>Attention en haut, l'échelle est logarithmique pour plus de confort visuel (il y a beaucoup plus de salade que de persil)</li>
                      <li>Comme l'année 2023 est incomplète, elle a été normalisée sur 12 mois</li>
                    </ul>
                  <b>Analyse</b><br>
                    En tendance, par rapport à 2012 toute les quantités sont passées par un pic puis sont en baisses. La courbe noire du graphique du bas est la moyenne 
                    du taux de variation pour les légumes, la baisse est de quasi 40% par rapport au référentiel 2012.<br>
                    L'évolution du radis est remarquable, avec un taux de variation de 400% (x4) en 2018.
                  </p>
              </div>
              <div class="col-lg-8 justify-content-center align-self-center">
                <div class="row">
                    <img src={% static 'img/fruits-legumes-3.png' %} class="img-fluid" alt="Responsive image">
                </div>
                <div class="row">
                    <img src={% static 'img/fruits-legumes-4.png' %} class="img-fluid" alt="Responsive image">
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsefour" aria-expanded="true" aria-controls="panelsStayOpen-collapsefour">
            <h4 class="fruits-color-2 sc-text-1-font"><b>Analyse n°3 : quantité par type de fruits et variation annuelle</b></h4>
        </button>
    </h2>
    <div id="panelsStayOpen-collapsefour" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="row sc-text-1-font">
              <div class="col-lg-4 justify-content-center align-self-center">
                  <p>Dans ces visuels, nous étudions sur 11 ans de la quantité totale fruits en tonnes par type de fruits<br><br>

                    
                    <b><i class="fa-solid fa-glasses"></i> Comment lire les visuels ?</b><br>
                    <ul>
                      <li>En haut un histogramme en deux dimensions représentant l'évolution de la quantité en tonnes</li>
                      <li>En bas le taux de variation des quantité sur 11 ans.</li>
                      <li>Attention en haut, l'échelle est logarithmique pour plus de confort visuel (il y a beaucoup plus de banane que de pomme canelle)</li>
                      <li>Comme l'année 2023 est incomplète, elle a été normalisée sur 12 mois</li>
                    </ul>
                  <b>Analyse</b><br>
                    En tendance, contrairement aux légumes, par rapport à 2012 toutes les quantités ne sont pas passées par un pic. En revanche elles sont également en baisses. La courbe noire du graphique du bas est la moyenne 
                    du taux de variation pour les fruits, la baisse est de quasi 60% par rapport au référentiel 2012.<br>
                    L'évolution des taux de variation est moins spéctaculaire que pour les légumes.<br>
                    On constate une certaines périodicité des quantités bien connues de certains jardiniers (notamment pour les letchis par exemple).
                  </p>
              </div>
              <div class="col-lg-8 justify-content-center align-self-center">
                <div class="row">
                    <img src={% static 'img/fruits-legumes-5.png' %} class="img-fluid" alt="Responsive image">
                </div>
                <div class="row">
                    <img src={% static 'img/fruits-legumes-6.png' %} class="img-fluid" alt="Responsive image">
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsefive" aria-expanded="true" aria-controls="panelsStayOpen-collapsefive">
            <h4 class="fruits-color-2 sc-text-1-font"><b>Analyse n°4 : taux de variation annuelle des prix</b></h4>
        </button>
    </h2>
    <div id="panelsStayOpen-collapsefive" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="row sc-text-1-font">
                <div class="col-lg-8 justify-content-center align-self-center">
                    <div class="row">
                        <img src={% static 'img/fruits-legumes-7.png' %} class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="row">
                        <img src={% static 'img/fruits-legumes-8.png' %} class="img-fluid" alt="Responsive image">
                    </div>
                </div>
              <div class="col-lg-4 justify-content-center align-self-center">
                  <p>Dans ces visuels, nous étudions sur 11 ans les taux de variations des prix des fruits et légumes<br><br>

                    
                    <b><i class="fa-solid fa-glasses"></i> Comment lire les visuels ?</b><br>
                    <ul>
                      <li>En haut les fruits</li>
                      <li>En bas les légumes</li>
                      <li>Variation du prix en % par rapport à la référence 2012</li>
                    </ul>
                  <b>Analyse</b><br>
                    L'augmentation est claire et limpide dans les deux cas. Quand le pic en quantité des légumes est passé par son maximum, les prix étaient logiquement 
                    au plus bas.<br>
                    Le prix des cocombres a plus que doublé en 10 ans.<br>
                    Le persil et la pomme cannelle sont remarquables dans le sens ou ce sont les seules à voir baisser en prix sur la période.
                  </p>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsesix" aria-expanded="true" aria-controls="panelsStayOpen-collapsesix">
            <h4 class="fruits-color-2 sc-text-1-font"><b>Analyse n°5 : import fruits et légumes réalisés en tonnes</b></h4>
        </button>
    </h2>
    <div id="panelsStayOpen-collapsesix" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="row sc-text-1-font">
                <div class="col-lg-8 justify-content-center align-self-center">
                    <div class="row">
                        <img src={% static 'img/fruits-legumes-9.png' %} class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="row">
                        <img src={% static 'img/fruits-legumes-10.png' %} class="img-fluid" alt="Responsive image">
                    </div>
                </div>
              <div class="col-lg-4 justify-content-center align-self-center">
                  <p>Dans ces visuels, nous étudions sur 11 ans les quantités d'import réalisés de fruits et légumes en tonnes par année<br><br>

                    
                    <b><i class="fa-solid fa-glasses"></i> Comment lire les visuels ?</b><br>
                    <ul>
                      <li>En haut les fruits</li>
                      <li>En bas les légumes</li>
                      <li>Variation du prix en % par rapport à la référence 2012</li>
                    </ul>
                  <b>Analyse</b><br>
                    L'import est significatif après 2020 pour certains fruits et légumes. En comparant ces graphiques avec ceux de l'analyse n°4, on constate en 
                    tendance que les quantités d'import sont corrélés avec une augmentation des prix (parfois brusques cf tomates).<br>
                  </p>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseseven" aria-expanded="true" aria-controls="panelsStayOpen-collapseseven">
            <h4 class="fruits-color-2 sc-text-1-font"><b>Analyse n°6 : prix moyen au kg et indices</b></h4>
        </button>
    </h2>
    <div id="panelsStayOpen-collapseseven" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="row sc-text-1-font">
                <div class="col-lg-8 justify-content-center align-self-center">
                    <div class="row">
                        <img src={% static 'img/fruits-legumes-11.png' %} class="img-fluid" alt="Responsive image">
                    </div>
                </div>
              <div class="col-lg-4 justify-content-center align-self-center">
                    <p>Graphique très simple traçant les points reliant les prix au kg et les valeurs d'indice MG (en orange) et ISEE (en bleu).<br><br>
                    
                  <b>Analyse</b><br>
                    L'observation est d'une logique absolue. Ce graphique permet juste de mettre en évidence la correlation entre l'évolution des prix et 
                    la valeur des indices.
                  </p>
              </div>
            </div>
        </div>
    </div>
</div>

  <div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsehuit" aria-expanded="true" aria-controls="panelsStayOpen-collapsehuit">
            <h4 class="fruits-color-2 sc-text-1-font"><b>Conclusions</b></h4>
        </button>
    </h2>
    <div id="panelsStayOpen-collapsehuit" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="row sc-text-1-font">
                <div class="col justify-content-center align-self-center">
                        <p>Les 6 analyses graphiques ci-dessous nous ont permis de comprendre mieux le sujet de l'importation de nourriture dans les iles
                            du pacifique. Voici un résumé des points principaux à retenir :
                            <ul>
                                <li>3 des 13 pays étudiés représente 80% des importations de la zone en quantité : La Papouasie-Nouvelle-Guinée, Fidji et la Nouvelle Calédonie.</li>
                                <li>La moitié des tonnes échangées sont des céréales. 5 des 13 catégories de produits représente 80% des échanges.</li>
                                <li>Toutes les iles du pacifique n'ont pas les mêmes habitudes d'importation en terme de produit. Mais dans la majorité des cas, un des types
                                    de produit représente plus de 20-30% du total des importations.
                                </li>
                                <li>Sur 23 ans, la quantité importée à doublée.</li>
                                <li>La volatilité des quantités importés est assez important d'une année à l'autre pour la majorité des pays. Ceci pourrait pottentiellement se justifier
                                    par des evenement exogènes impactant la ressource locale.
                                </li>
                                <li>La quantité globale importée a doublée. Pour autant ce n'est pas le cas de tout les types de produits. Certains ont triplé (céréales, fruits), d'autres 
                                    ont diminué de moitié (tabac).
                                </li>
                                <li>La population a augmenté de 80% dans la région sur la période étudié. L'augmentation de la population est donc bien correlée avec l'augmentation des importations. 
                                    Toutefois, les pays importe en moyenne plus de 2018 qu'en 2015 certainnement au détriment des productions locales. Cela les rends donc automatiquement 
                                    mois résilient aux événements internationaux impactant les échanges. Il aurait été interessant d'étudier les chiffres sur les années covid.
                                </li>
                            </ul>
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
