{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container text-center">
    <div class="row">
      <div class="col sc-text-1-font">
        <br>
        <h1 class="prix-color-1"><b>Prix des produits alimentaires en Nouvelle-Calédonie</b></h1>
    </div>
    <div class="row sc-text-1-font">
        <div class="col">
            <p>La base de données : <a href="https://data.gouv.nc/explore/?flg=fr&disjunctive.theme&disjunctive.publisher&disjunctive.keyword&disjunctive.attributions&disjunctive.license&sort=explore.popularity_score&refine.attributions=Direction%20des%20Affaires%20%C3%89conomiques%20(DAE)&refine.keyword=PacificDatavizChallenge2023">"Prix des produits alimentaires en Nouvelle-Calédonie"</a></p>
            <br>
            <br>
        </div>
      </div>
    </div>
</div>

<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          <h4 class="prix-color-3 sc-text-1-font"><b>Description de la structure de données</b></h4>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
        <div class="accordion-body">
          <div class="row sc-text-1-font">
              <div class="col">
                  <p>Cette base de donnée référence dans le détail l'ensemble des produits vendus dans les enseignent de <b class="prix-color-4">Nouvelle-Calédonie</b>.<br>
                    La base de données est composée de 12 fichiers ayant des colonnes identiques, un par année de 2012 à 2023.<br>
                     L'ensemble de ces fichiers pèsent <b class="prix-color-4">16.7 Go</b> en format csv. Pour plus de facilité dans le traitement, nous allons fusionner l'ensemble dans un même 
                     Dataframe et appliquer quelques traitement permettant d'alléger l'ensemble.<br>
                     La base de données totale est composée de <b class="prix-color-4">30</b> colonnes et <b class="prix-color-4">51'882'946</b> lignes.<br>
                     Toutes les colonnes ne sont pas utiles, il est donc important d'analyser les valeurs composant les colonnes et de ne selectionner dans l'analyse
                      que celles importantes pour l'extraction d'une information. 
                   </p>
              </div>
          </div>
          <div class="row sc-text-1-font">
            <div class='col-lg-1'></div>
              <div class="col">
                  <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Colonne</th>
                          <th scope="col">Description</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>CODE_PRODUIT</td>
                              <td>Mesure des différents code des produits</td>
                          </tr>
                          <tr>
                              <td>NOM</td>
                              <td>Mesure designation des produits</td>
                          </tr>
                          <tr>
                            <td class="table-danger">SECTEUR_CONSO</td>
                            <td class="table-danger">Dimension secteur de consommation : 10 valeurs</td>
                          </tr>
                          <tr>
                            <td class="table-danger">SOUS_SECTEUR_CONSO</td>
                            <td class="table-danger">Dimension sous secteur de consommation : 53 valeurs</td>
                          </tr>
                          <tr>
                              <td class="table-danger">FAMILLE_PRODUIT</td>
                              <td class="table-danger">Dimension famille de produit : 116 valeurs</td>
                          </tr>
                          <tr>
                              <td class="table-danger">SOUS_FAMILLE</td>
                              <td class="table-danger">Dimension sous famille de produit : 324 valeurs</td>
                          </tr>
                          <tr>
                              <td class="table-danger">VARIETE</td>
                              <td class="table-danger">Dimension variété de produit : 1177 valeurs</td>
                          </tr>
                          <tr>
                              <td class="table-danger">CATEGORIE</td>
                              <td class="table-danger">Dimension catégories produit : LOCAL, IMPORT, SERVICE</td>
                          </tr>
                          <tr>
                              <td class="table-danger">DEPARTEMENT</td>
                              <td class="table-danger">Dimension département produit : Sec, Surgelé, Frais, NaN</td>
                          </tr>
                          <tr>
                              <td class="table-warning">MARQUES</td>
                              <td class="table-warning">Dimension marque du produit</td>
                          </tr>
                          <tr>
                              <td class="table-danger">CONDITIONNEMENT</td>
                              <td class="table-danger">Mesure conditionnement du produit</td>
                          </tr>
                          <tr>
                              <td>COND_UNITE_LIBELLE_LONG</td>
                              <td>Unité de conditionnement en lettre</td>
                          </tr>
                          <tr>
                              <td class="table-danger">COND_UNITE_LIBELLLE_COURT</td>
                              <td class="table-danger">Unité de conditionnement</td>
                          </tr>
                          <tr>
                            <td>GENCODE</td>
                            <td>Dimension codification produit</td>
                        </tr>
                        <tr>
                            <td class="table-danger">PRIX_RELEVE</td>
                            <td class="table-danger">Mesure tarif de vente en xpf</td>
                        </tr>
                        <tr>
                            <td >DATE_RELEVE</td>
                            <td>Mesure date de releve de la transaction</td>
                        </tr>
                        <tr>
                            <td class="table-warning">PROMOTION</td>
                            <td class="table-warning">Dimension promotion</td>
                        </tr>
                        <tr>
                            <td class="table-warning">TOP 500</td>
                            <td class="table-warning">Dimension top 500</td>
                        </tr>
                        <tr>
                            <td>TYPE_RELEVE</td>
                            <td>Dimension type de relève</td>
                        </tr>
                        <tr>
                            <td class="table-danger">RAISON_SOCIALE</td>
                            <td class="table-danger">Dimension lieu de vente : 753 valeurs</td>
                        </tr>
                        <tr>
                            <td>RIDET</td>
                            <td>Dimension Ridet lieu de vente</td>
                        </tr>
                        <tr>
                            <td>TYPE_ADRESSE</td>
                            <td>Dimension type adresse</td>
                        </tr>
                        <tr>
                            <td>NUM_VOIE</td>
                            <td>Numéro de la voie (adresse)</td>
                        </tr>
                        <tr>
                            <td>TYPE_VOIE</td>
                            <td>Type de la voie (adresse)</td>
                        </tr>
                        <tr>
                            <td>NOM_VOIE</td>
                            <td>Nom de la voie (adresse)</td>
                        </tr>
                        <tr>
                            <td>COMPLEMENT_ADRESSE</td>
                            <td>Complément d'adresse</td>
                        </tr>
                        <tr>
                            <td class="table-danger">QUARTIER</td>
                            <td class="table-danger">Quartier : 50 valeurs</td>
                        </tr>
                        <tr>
                            <td>CODE_POSTAL</td>
                            <td>CP</td>
                        </tr>
                        <tr>
                            <td class="table-danger">COMMUNE</td>
                            <td class="table-danger">Commune : 33 valeurs</td>
                        </tr>
                        <tr>
                            <td class="table-danger">point_geo</td>
                            <td class="table-danger">Coordonnées géographique</td>
                        </tr>
                      </tbody>
                    </table>
              </div>
              <div class='col-lg-1'></div>
          </div>
          <div class="row sc-text-1-font">
              <div class="col">
                  <br>
                  <p>Le nombre important de colonne impose de faire des choix : 14 colonnes sont selectionnées. Elles sont surlignées en rouge dans le tableau ci-dessus.<br>
                     Les 3 colonnes surlignés en jaune ne feront pas partie de l'analyse mais pourrait être étudiées également. Le reste n'est pas représentatif d'informations suplémentaires<br>
                     Il y a beaucoup de dimensions et peu de mesure.<br>
                     A nous de décortyquer au maximum ces données pour dégager des tendances et proposer des pistes de reflexion.</p>
                  <br>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
              <h4 class="prix-color-3 sc-text-1-font"><b>Analyse n°1 : Importateurs & Quantités totales</b></h4>
          </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
          <div class="accordion-body">
              <div class="row sc-text-1-font">
                  <div class="col-lg-8">
                      <img src={% static 'img/food-trade-1.png' %} class="img-fluid" alt="Responsive image">
                  </div>
                  <div class="col-lg-4 justify-content-center align-self-center">
                      <p>Dans cette partie, nous nous affranchissons de la dimension "temps" et du type de produits importés.<br>
                         La quantité totale exportée sur 23 ans par l'entité Australie/Nouvelle Zélande vers les îles du pacifique 
                         est de <b class="food-trade-color-4">16'553'168</b> Tonnes tous produits confondus.<br>
                         La Papouasie Nouvelle Guinée, Fidji et la Nouvelle-Calédonie représente à eux seul <b class="food-trade-color-4">80 %</b> du marché.<br>
                      <br>
                      <i class="fa-regular fa-lightbulb"></i> Il serait interessant par la suite de mettre en perspective les quantités importées par rapport à la population de ces pays.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsehuit" aria-expanded="true" aria-controls="panelsStayOpen-collapsehuit">
            <h4 class="prix-color-3 sc-text-1-font"><b>Conclusions</b></h4>
        </button>
    </h2>
    <div id="panelsStayOpen-collapsehuit" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="row sc-text-1-font">
                <div class="col justify-content-center align-self-center">
                        <p>Les 6 analyses graphiques ci-dessous nous ont permis de comprendre mieux le sujet de l'importation de nourriture dans les iles
                            du pacifique. Voici un résumé des points principaux à retenir :
                            <ul>
                                <li>3 des 13 pays étudiés représente 80% des importations de la zone en quantité : La Papouasie-Nouvelle-Guinée, Fidji et la Nouvelle Calédonie.</li>
                                <li>La moitié des tonnes échangées sont des céréales. 5 des 13 catégories de produits représente 80% des échanges.</li>
                                <li>Toutes les iles du pacifique n'ont pas les mêmes habitudes d'importation en terme de produit. Mais dans la majorité des cas, un des types
                                    de produit représente plus de 20-30% du total des importations.
                                </li>
                                <li>Sur 23 ans, la quantité importée à doublée.</li>
                                <li>La volatilité des quantités importés est assez important d'une année à l'autre pour la majorité des pays. Ceci pourrait pottentiellement se justifier
                                    par des evenement exogènes impactant la ressource locale.
                                </li>
                                <li>La quantité globale importée a doublée. Pour autant ce n'est pas le cas de tout les types de produits. Certains ont triplé (céréales, prix), d'autres 
                                    ont diminué de moitié (tabac).
                                </li>
                                <li>La population a augmenté de 80% dans la région sur la période étudié. L'augmentation de la population est donc bien correlée avec l'augmentation des importations. 
                                    Toutefois, les pays importe en moyenne plus de 2018 qu'en 2015 certainnement au détriment des productions locales. Cela les rends donc automatiquement 
                                    mois résilient aux événements internationaux impactant les échanges. Il aurait été interessant d'étudier les chiffres sur les années covid.
                                </li>
                            </ul>
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
