{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container text-center">
    <div class="row">
      <div class="col sc-text-1-font">
        <br>
        <h1 class="prix-color-1"><b>Prix des produits alimentaires en Nouvelle-Calédonie</b></h1>
    </div>
    <div class="row sc-text-1-font">
        <div class="col">
            <p>La base de données : <a href="https://data.gouv.nc/explore/?flg=fr&disjunctive.theme&disjunctive.publisher&disjunctive.keyword&disjunctive.attributions&disjunctive.license&sort=explore.popularity_score&refine.attributions=Direction%20des%20Affaires%20%C3%89conomiques%20(DAE)&refine.keyword=PacificDatavizChallenge2023">"Prix des produits alimentaires en Nouvelle-Calédonie"</a></p>
            <br>
            <br>
        </div>
      </div>
    </div>
</div>

<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          <h4 class="prix-color-3 sc-text-1-font"><b>Description de la structure de données</b></h4>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
        <div class="accordion-body">
          <div class="row sc-text-1-font">
              <div class="col">
                  <p>Cette base de donnée référence dans le détail l'ensemble des produits vendus dans les enseignes de <b class="prix-color-4">Nouvelle-Calédonie</b>.<br>
                    La base de données est composée de 12 fichiers ayant des colonnes identiques, un par année de 2012 à 2023.<br>
                     L'ensemble de ces fichiers pèsent <b class="prix-color-4">16.7 Go</b> en format csv. Pour plus de facilité dans le traitement, nous avons fusionné l'ensemble dans un même 
                     Dataframe et appliqué quelques traitement permettant d'alléger l'ensemble.<br>
                     La base de données totale est composée de <b class="prix-color-4">30</b> colonnes et <b class="prix-color-4">51'882'946</b> lignes.<br>
                     Toutes les colonnes ne sont pas utiles, comme la base de données est très grande, il est d'autant plus important d'analyser les valeurs composant les colonnes et de ne selectionner dans l'analyse
                     que celles importantes pour l'extraction d'une information.<br>
                    <br>
                    Le tableau ci-dessous expose les différentes colonnes et le type de donnée qu'elles contiennent :
                   </p>
              </div>
          </div>
          <div class="row sc-text-1-font">
            <div class='col-lg-1'></div>
              <div class="col">
                  <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Colonne</th>
                          <th scope="col">Description</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>CODE_PRODUIT</td>
                              <td>Mesure des différents code des produits</td>
                          </tr>
                          <tr>
                              <td class="table-danger">NOM</td>
                              <td class="table-danger">Mesure designation des produits</td>
                          </tr>
                          <tr>
                            <td class="table-danger">SECTEUR_CONSO</td>
                            <td class="table-danger">Dimension secteur de consommation : 10 valeurs</td>
                          </tr>
                          <tr>
                            <td class="table-danger">SOUS_SECTEUR_CONSO</td>
                            <td class="table-danger">Dimension sous secteur de consommation : 53 valeurs</td>
                          </tr>
                          <tr>
                              <td class="table-danger">FAMILLE_PRODUIT</td>
                              <td class="table-danger">Dimension famille de produit : 116 valeurs</td>
                          </tr>
                          <tr>
                              <td class="table-danger">SOUS_FAMILLE</td>
                              <td class="table-danger">Dimension sous famille de produit : 324 valeurs</td>
                          </tr>
                          <tr>
                              <td class="table-danger">VARIETE</td>
                              <td class="table-danger">Dimension variété de produit : 1177 valeurs</td>
                          </tr>
                          <tr>
                              <td class="table-danger">CATEGORIE</td>
                              <td class="table-danger">Dimension catégories produit : LOCAL, IMPORT, SERVICE</td>
                          </tr>
                          <tr>
                              <td class="table-danger">DEPARTEMENT</td>
                              <td class="table-danger">Dimension département produit : Sec, Surgelé, Frais, NaN</td>
                          </tr>
                          <tr>
                              <td class="table-warning">MARQUES</td>
                              <td class="table-warning">Dimension marque du produit</td>
                          </tr>
                          <tr>
                              <td class="table-warning">CONDITIONNEMENT</td>
                              <td class="table-warning">Mesure conditionnement du produit</td>
                          </tr>
                          <tr>
                              <td>COND_UNITE_LIBELLE_LONG</td>
                              <td>Unité de conditionnement en lettre</td>
                          </tr>
                          <tr>
                              <td class="table-warning">COND_UNITE_LIBELLLE_COURT</td>
                              <td class="table-warning">Unité de conditionnement</td>
                          </tr>
                          <tr>
                            <td>GENCODE</td>
                            <td>Dimension codification produit</td>
                        </tr>
                        <tr>
                            <td class="table-danger">PRIX_RELEVE</td>
                            <td class="table-danger">Mesure tarif de vente en xpf</td>
                        </tr>
                        <tr>
                            <td >DATE_RELEVE</td>
                            <td>Mesure date de releve de la transaction</td>
                        </tr>
                        <tr>
                            <td class="table-warning">PROMOTION</td>
                            <td class="table-warning">Dimension promotion</td>
                        </tr>
                        <tr>
                            <td class="table-warning">TOP 500</td>
                            <td class="table-warning">Dimension top 500</td>
                        </tr>
                        <tr>
                            <td>TYPE_RELEVE</td>
                            <td>Dimension type de relève</td>
                        </tr>
                        <tr>
                            <td class="table-danger">RAISON_SOCIALE</td>
                            <td class="table-danger">Dimension lieu de vente : 753 valeurs</td>
                        </tr>
                        <tr>
                            <td>RIDET</td>
                            <td>Dimension Ridet lieu de vente</td>
                        </tr>
                        <tr>
                            <td>TYPE_ADRESSE</td>
                            <td>Dimension type adresse</td>
                        </tr>
                        <tr>
                            <td>NUM_VOIE</td>
                            <td>Numéro de la voie (adresse)</td>
                        </tr>
                        <tr>
                            <td>TYPE_VOIE</td>
                            <td>Type de la voie (adresse)</td>
                        </tr>
                        <tr>
                            <td>NOM_VOIE</td>
                            <td>Nom de la voie (adresse)</td>
                        </tr>
                        <tr>
                            <td>COMPLEMENT_ADRESSE</td>
                            <td>Complément d'adresse</td>
                        </tr>
                        <tr>
                            <td class="table-warning">QUARTIER</td>
                            <td class="table-warning">Quartier : 50 valeurs</td>
                        </tr>
                        <tr>
                            <td>CODE_POSTAL</td>
                            <td>CP</td>
                        </tr>
                        <tr>
                            <td class="table-danger">COMMUNE</td>
                            <td class="table-danger">Commune : 33 valeurs</td>
                        </tr>
                        <tr>
                            <td class="table-danger">point_geo</td>
                            <td class="table-danger">Coordonnées géographique</td>
                        </tr>
                      </tbody>
                    </table>
              </div>
              <div class='col-lg-1'></div>
          </div>
          <div class="row sc-text-1-font">
              <div class="col">
                  <br>
                  <p>Le nombre important de colonnes impose de faire des choix : 12 colonnes sont selectionnées. Elles sont surlignées en rouge dans le tableau ci-dessus.<br>
                     Les 6 colonnes surlignés en jaune ne feront pas partie de l'analyse mais pourraient être étudiées également. Le reste n'est pas représentatif d'informations suplémentaires<br>
                     Il y a beaucoup de dimensions et peu de mesures.<br>
                     Lors de l'analyse, il est apparu que les données de l'année 2012 sont partimonieuses et donc difficilements comparables aux autres années. Le 
                     choix à donc a été fait de ne pas inclure l'année 2012 dans les visuels suivants.</p>
                  <br>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
              <h4 class="prix-color-3 sc-text-1-font"><b>Analyse n°1 : Répartition % départements et catégories sur la période 2013-2023</b></h4>
          </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
          <div class="accordion-body">
            <div class="row sc-text-1-font">
                <div class="col">
                    <img src={% static 'img/prix-alim-1.png' %} class="img-fluid" alt="Responsive image">
                </div>
            </div>
              <div class="row sc-text-1-font">
                  <div class="col justify-content-center align-self-center">
                    <br>
                    <p>Ce visuel expose la part en volume (quantité) et en valeur (XPF) des catégories et départements des transactions sur la période 2013-2023<br><br>

                        <b><i class="fa-solid fa-glasses"></i> Comment lire les visuels ?</b><br>
                        <ul>
                          <li>A gauche : la réprésentation en volume (la quantité totale de transactions)</li>
                          <li>A droite : la représentation en valeur (la valeur totale des transactions)</li>
                        </ul>
                      <b>Analyse</b><br>
                      <b class="prix-color-4">80 %</b> du volume des transactions concerne le département <b class="prix-color-4">Sec</b>. En comparant les proportions en volume et en valeur 
                      on remarque déjà que les produits <b class="prix-color-4">Surgelés</b> et <b class="prix-color-4">Frais</b> sont plus onéreux.<br>
                      Dans chacun des départements la part d'importation est très importante. De la même marnière en comparant quantité et valeur entre import et 
                      local on voit que les transactions locales sont en moyenne plus elevés (car représente une part plus elevée en valeur qu'en quantité). 
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTree" aria-expanded="true" aria-controls="panelsStayOpen-collapseTree">
            <h4 class="prix-color-3 sc-text-1-font"><b>Analyse n°2 : Répartition % secteurs de consommation sur la période 2013-2023</b></h4>
        </button>
    </h2>
    <div id="panelsStayOpen-collapseTree" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="row sc-text-1-font">
                <div class="col-lg-4 justify-content-center align-self-center">
                    <p>Ces visuels exposent la part en volume (quantité) et en valeur (XPF) des secteurs de consommation sur la période 2013-2023<br><br>
  
                      <b><i class="fa-solid fa-glasses"></i> Comment lire les visuels ?</b><br>
                      <ul>
                        <li>En haut deux camenbert équivalent dans leur conception à ceux de l'analyse n°1</li>
                        <li>En bas le coût moyen d'une transaction dans chaque secteur (histogramme) et le volume de transactions asscoiées (courbe)</li>
                      </ul>
                    <br>
                    <b>Analyse</b><br>
                    Sur les 10 ans de mesure, c'est les secteurs<b class="prix-color-4">épicerie salée</b> et <b class="prix-color-4">épicerie sucrée</b> qui représentent un très large portion des transactions.
                    Ces deux secteurs sont aussi parmis les moins onéreux en moyennes.<br>
                    En comparant les deux camenberts, on constate que la hierarchie des volumes et quantités est globalement la même à deux exceptions près : l'<b class="prix-color-4">épicerie sucrée</b> et les <b class="prix-color-4">surgelés</b> qui 
                    gagnent une place en valeur. Ces secteurs de produits représentent une part plus importante du budget des Calédoniens à quantité égale.
                    Les secteurs <b>boucherie, volaille, poissonnerie</b> et <b>traiteur</b> n'apparaissent pas dans les camemberts de part leur volume très faible par rapport au reste.
                    </p>
                </div>
                <div class="col-lg-8 justify-content-center align-self-center">
                  <div class="row">
                      <img src={% static 'img/prix-alim-2.png' %} class="img-fluid" alt="Responsive image">
                  </div>
                  <div class="row">
                      <img src={% static 'img/prix-alim-3.png' %} class="img-fluid" alt="Responsive image">
                  </div>
              </div>
              </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse4" aria-expanded="true" aria-controls="panelsStayOpen-collapse4">
                <h4 class="prix-color-3 sc-text-1-font"><b>Analyse n°3 : TOP 20 en part de volume (période 2013-2023)</b></h4>
            </button>
        </h2>
        <div id="panelsStayOpen-collapse4" class="accordion-collapse collapse">
            <div class="accordion-body">
                <div class="row sc-text-1-font">
                    <div class="col-lg-4 justify-content-center align-self-center">
                        <p>Ce 5 visuels exposent la part en volume (quantité) pour les dimensions sous-secteur/famille/sous-famille/variété/produit sur la période 2013-2023<br><br>
      
                          <b><i class="fa-solid fa-glasses"></i> Comment lire les visuels ? (de haut en bas)</b><br>
                          <ul>
                            <li>[1] Sous secteurs : en violet % en valeur (import/export), en rose % en volume (import/export), la courbe noire représente le prix moyen par sous secteur import 
                                la courbe grise le prix moyen par sous secteur local </li>
                            <li>[2] Famille : en violet % en valeur, en rose % en volume, la courbe noire représente le prix moyen par famille</li>
                            <li>[3] Sous famille : en violet % en valeur, en rose % en volume, la courbe noire représente le prix moyen par sous famille</li>
                            <li>[4] Variété : en violet % en valeur, en rose % en volume, la courbe noire représente le prix moyen par varieté</li>
                            <li>[5] Produit : en violet % en valeur, en rose % en volume, la courbe noire représente le prix moyen par Produit</li>
                          </ul>
                          Exemples : [1] presque 16% des transactions sont du sous-secteur <b class="prix-color-4">boissons sans alcool</b>.
                          [4] 2.5% des transaction concernent la variété <b class="prix-color-4">biscuit fouré, nappé, chocolat</b>.
                          [5] La référence de produit la plus achétée en Calédonie sur les 10 ans est les <b class="prix-color-4">Sao Arnott's paquet 250g</b>
                        <br>
                        <br>
                        <b>Analyse</b><br>
                          Sur le graphique [1], on remarque une nouvelle fois la part très importante de l'import dans les 20 sous-secteurs concernés par les 
                          plus gros volume. On constate également que l'écart moyen des prix (quand il existe) est assez important pour un même sous secteur 
                          entre l'import et le local.<br>
                          Chacun des graphiques démontrent aussi une tendance à l'achat de produit peu sain pour la santé (19 et 20 em place respectives pour les 
                          sous-secteurs <b class="prix-color-4">fruit et légume frais</b> et <b class="prix-color-4">légume fruit surgelés</b> [1] surement achetés 
                          de préférence sur les marchés). 
                        </p>
                    </div>
                    <div class="col-lg-8 justify-content-center align-self-center">
                      <div class="row">
                          <img src={% static 'img/prix-alim-4.png' %} class="img-fluid" alt="Responsive image">
                      </div>
                      <div class="row">
                          <img src={% static 'img/prix-alim-6.png' %} class="img-fluid" alt="Responsive image">
                      </div>
                      <div class="row">
                        <img src={% static 'img/prix-alim-8.png' %} class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="row">
                        <img src={% static 'img/prix-alim-10.png' %} class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="row">
                        <img src={% static 'img/prix-alim-12.png' %} class="img-fluid" alt="Responsive image">
                    </div>
                  </div>
                  </div>
            </div>
        </div>

</div>

<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse5" aria-expanded="true" aria-controls="panelsStayOpen-collapse5">
            <h4 class="prix-color-3 sc-text-1-font"><b>Analyse n°4 : TOP 20 en part de valeur (période 2013-2023)</b></h4>
        </button>
    </h2>
    <div id="panelsStayOpen-collapse5" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="row sc-text-1-font">
                <div class="col-lg-8 justify-content-center align-self-center">
                    <div class="row">
                        <img src={% static 'img/prix-alim-5.png' %} class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="row">
                        <img src={% static 'img/prix-alim-7.png' %} class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="row">
                      <img src={% static 'img/prix-alim-9.png' %} class="img-fluid" alt="Responsive image">
                  </div>
                  <div class="row">
                      <img src={% static 'img/prix-alim-11.png' %} class="img-fluid" alt="Responsive image">
                  </div>
                </div>
                <div class="col-lg-4 justify-content-center align-self-center">
                    <p>Ce 4 visuels exposent la part en valeur (XPF) pour les dimensions sous-secteur/famille/sous-famille/variété/produit sur la période 2013-2023<br>
                       Cette analyse est équivalente à la précédente mais permet cette fois-ci de voir les centres de coût moyens des paniers Calédoniens<br>
                        <br>
                      <b><i class="fa-solid fa-glasses"></i> Comment lire les visuels ? (de haut en bas)</b><br>
                      <ul>
                        <li>[1] Sous secteurs : en violet % en valeur (import/export), en rose % en volume (import/export), la courbe noire représente le prix moyen par sous secteur import 
                            la courbe grise le prix moyen par sous secteur local </li>
                        <li>[2] Famille : en violet % en valeur, en rose % en volume, la courbe noire représente le prix moyen par famille</li>
                        <li>[3] Sous famille : en violet % en valeur, en rose % en volume, la courbe noire représente le prix moyen par sous famille</li>
                        <li>[4] Variété : en violet % en valeur, en rose % en volume, la courbe noire représente le prix moyen par varieté</li>
                      </ul>
                      Exemples : [2] Le <b class="prix-color-4">chocolat</b> est la famille de produit qui représente la plus grande zone de dépense par panier moyen (<b class="prix-color-4">5.7%</b> du total).
                      [4] 1% des transaction en valeur concernent l'<b class="prix-color-4">eau plate</b>.
                    <br>
                    <br>
                    <b>Analyse</b><br>
                      On retrouve sur ces graphiques beaucoup des items vues dans l'analyse n°3 ce qui indique qu'en générale la quantité en volume est équivalente 
                      aux centres de coûts. Pour autant, l'ordre hierarchique n'est pas concervé.
                      Entrée remarquable des <b class="prix-color-4">crevettes surgelées</b> en 19em place du TOP 20 Variété [4] du fait de leur prix très elevé.
                    </p>
                </div>
              </div>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse6" aria-expanded="true" aria-controls="panelsStayOpen-collapse6">
            <h4 class="prix-color-3 sc-text-1-font"><b>Analyse n°5 : Evolution volume/valeur Import/Local sur la période 2013-2023</b></h4>
        </button>
    </h2>
    <div id="panelsStayOpen-collapse6" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="row sc-text-1-font">
                <div class="col-lg-8 justify-content-center align-self-center">
                    <div class="row">
                        <img src={% static 'img/prix-alim-13.png' %} class="img-fluid" alt="Responsive image">
                    </div>
                </div>
                <div class="col-lg-4 justify-content-center align-self-center">
                    <p>Ce visuel expose la proportion des transactions Import & Local par année<br>
                        <br>
                      <b><i class="fa-solid fa-glasses"></i> Comment lire les visuels ?</b><br>
                      <ul>
                        <li>En vert la part en volume Import vs Local</li>
                        <li>En vert la part en valeur Import vs Local</li>
                        <li>Les courbes noires sont les taux de variation origine 2012 des proportions volume/valeur import</li>
                        <li>Les courbes grises sont les taux de variation origine 2012 des proportions volume/valeur local</li>
                      </ul>
                    <br>
                    <br>
                    <b>Analyse</b><br>
                      L'histogramme nous remontre une nouvelle fois la part très importante de l'importantion en quantité et en volume. Le fait que les ordres 
                      de grandeurs soient les mêmes signifient que ni les imports ni les produits locaux ne se situent sur des niches. On pourrait être dans une 
                      configuration où les produits locaux sont à fortes valeurs àjoutés par exemple. 
                      La variation des courbes grises (qui sont par construction corrélées avec les courbes noires) indique que la part du local a baissée depuis 2013 
                      même si elle remonte en tendance sur les 2 dernières années (Impact covid ?). Des questions sont à se poser sur la résilience du territoire pour garantir 
                      une alimentation à la population dans la durée avec une part d'import aussi importante (constats partagés des analyses food trade et fruit et légume en NC)
                    </p>
                </div>
              </div>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse7" aria-expanded="true" aria-controls="panelsStayOpen-collapse7">
            <h4 class="prix-color-3 sc-text-1-font"><b>Analyse n°6 : Evolution volume/valeur des secteurs de consommation sur la période 2013-2023</b></h4>
        </button>
    </h2>
    <div id="panelsStayOpen-collapse7" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="row sc-text-1-font">
                <div class="col-lg-4 justify-content-center align-self-center">
                    <p>Ces visuels exposent la part des sous secteurs dans les achats par année<br>
                        <br>
                      <b><i class="fa-solid fa-glasses"></i> Comment lire les visuels ?</b><br>
                      <ul>
                        <li>En haut : heatmap en part de volume</li>
                        <li>En bas : heatmap en part de valeur</li>
                      </ul>
                      Les visuels sont conçus de manière à ce que la somme de chaque ligne soit de 100%.
                    <br>
                    <br>
                    <b>Analyse</b><br>
                      Il y a eu une certaine évolution des habitudes d'achats entre 2013 et 2023. En quantité (graphique du haut), la proportion du secteur 
                      boisson à été divisée par <b class="prix-color-4">3</b> aux bénéfices des fruits et légumes et des surgélés (principalement) ce qui peut sembler être une bonne chose.
                      A proportion de volume assez similaire pour le secteur épicerie salée, la part en valeur à bien augmentée ce qui est synonyme d'inflation ou d'achats de produits de meilleurs qualités
                      (et donc plus chers). De même la variation de valeur des fruits et légume et des surgelés et plus rapide que la variation de volume : même conclusion, les produits semblent plus cher en 2023.
                    </p>
                </div>
                <div class="col-lg-8 justify-content-center align-self-center">
                    <div class="row">
                        <img src={% static 'img/prix-alim-14.png' %} class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="row">
                        <img src={% static 'img/prix-alim-15.png' %} class="img-fluid" alt="Responsive image">
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse8" aria-expanded="true" aria-controls="panelsStayOpen-collapse8">
            <h4 class="prix-color-3 sc-text-1-font"><b>Analyse n°7 : Variation des prix moyens sur la période 2013-2023</b></h4>
        </button>
    </h2>
    <div id="panelsStayOpen-collapse8" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="row sc-text-1-font">
                <div class="col-lg-4 justify-content-center align-self-center">
                    <p>Ce visuel expose la variation des prix moyens et de volumes par année<br>
                        <br>
                      <b><i class="fa-solid fa-glasses"></i> Comment lire le visuel ?</b><br>
                      <ul>
                        <li>En haut : la courbe noire est le taux de variation des prix moyen (référence 2013), l'histogramme représente le volume des 
                            transactions en million
                        </li>
                        <li>En bas : le taux de variation du prix moyen de chaque variété de produits</li>
                      </ul>
                    <br>
                    <b>Analyse</b><br>
                      Les calculs démontrent que les prix moyens ne sont pas sensiblement plus elevés qu'en 2013 mais en revanche beaucoup plus elevé qu'en 2019.
                      Le taux de variations des variétés montre la valeur moyenne de certaines variétés a explosé et qu'en tendance les variétés ont évolué plus à la hausse 
                      qu'à la baisses.
                    </p>
                    <br>
                    TOP 10 des plus grandes variations à la hausse :
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Variétés</th>
                            <th scope="col">max 10 ans taux de variation</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ananas</td>
                                <td>1916 %</td>
                            </tr>
                            <tr>
                                <td>fraise</td>
                                <td>1135 %</td>
                            </tr>
                            <tr>
                              <td>fromage blanc aux fruits, aromatisé </td>
                              <td>1121 %</td>
                            </tr>
                            <tr>
                                <td>calamar, poulpe, seiche</td>
                                <td>1060 %</td>
                            </tr>
                            <tr>
                                <td>melon</td>
                                <td>727 %</td>
                            </tr>
                            <tr>
                                <td>barre de céréales</td>
                                <td>533 %</td>
                            </tr>
                            <tr>
                                <td>pastèque</td>
                                <td>489 %</td>
                            </tr>
                            <tr>
                                <td>autre graisse végétale</td>
                                <td>421 %</td>
                            </tr>
                            <tr>
                                <td>fruit exotique : autres </td>
                                <td>382 %</td>
                            </tr>
                            <tr>
                                <td>conserve de poisson : crustacé </td>
                                <td>370 %</td>
                            </tr>
                        </tbody>
                      </table>
                </div>
                <div class="col-lg-8 justify-content-center align-self-center">
                    <div class="row">
                        <img src={% static 'img/prix-alim-16.png' %} class="img-fluid" alt="Responsive image">
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse9" aria-expanded="true" aria-controls="panelsStayOpen-collapse9">
            <h4 class="prix-color-3 sc-text-1-font"><b>Analyse n°8 : Evolution des parts de marché du TOP 20 des supermarchés</b></h4>
        </button>
    </h2>
    <div id="panelsStayOpen-collapse9" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="row sc-text-1-font">
                <div class="col-lg-8 justify-content-center align-self-center">
                    <div class="row">
                        <img src={% static 'img/prix-alim-17.png' %} class="img-fluid" alt="Responsive image">
                    </div>
                </div>
                <div class="col-lg-4 justify-content-center align-self-center">
                    <p>Ce visuel exposent la part de marché des 20 plus gros supermarchés en valeur de transactions de la base de donnée<br>
                        <br>
                      <b><i class="fa-solid fa-glasses"></i> Comment lire les visuels ?</b><br>
                        Chaque case indique le % de part de marché du magasin sur l'année considérée. 
                        Exemple : en 2022 le CARREFOUR KENU IN représente <b class="prix-color-4">5.13%</b> de la valeur totale de transaction de l'année. Rappelons que la base de donnée 
                        contient <b class="prix-color-4">753</b> raisons sociales différentes.
                    <br>
                    <br>
                    <b>Analyse</b><br>
                    Depuis 2018, on constate une répartition plus égale entre les 20 plus grandes enseignes. Sans surprise les 20 plus grands établissements se trouvent 
                    dans Nouméa ou le Grand Nouméa, Païta, Dumbéa ou Mont-Dore.
                    </p>
                </div>
              </div>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse10" aria-expanded="true" aria-controls="panelsStayOpen-collapse10">
            <h4 class="prix-color-3 sc-text-1-font"><b>Analyse n°9 : Volume et valeur sur les communes de la Nouvelle-Calédonie</b></h4>
        </button>
    </h2>
    <div id="panelsStayOpen-collapse10" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="row sc-text-1-font">
                <div class="col-lg-8 justify-content-center align-self-center">
                    <div class="row">
                        <img src={% static 'img/prix-alim-18.png' %} class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="row">
                        <img src={% static 'img/prix-alim-20.png' %} class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="row">
                        <img src={% static 'img/prix-alim-19.png' %} class="img-fluid" alt="Responsive image">
                    </div>
                </div>
                <div class="col-lg-4 justify-content-center align-self-center">
                    <p>Ces visuels proposent d'étudier la géographie des transactions sur l'ensemble de la Nouvelle-Calédonie<br>
                        <br>
                      <b><i class="fa-solid fa-glasses"></i> Comment lire les visuels ?</b><br>
                      <ul>
                        <li>[1] En haut : Une carte des 33 communes. La taille des cerles est proportionnel au nombre d'enseigne, la couleur des cercles au prix 
                            moyen par enseigne (période 2013-2023)</li>
                        <li>[2] Au milieu : La part du volume d'achat par commune (la somme de chaque ligne est 100%)</li>
                        <li>[3] En bas : Le taux de viariation des prix moyen par commune et par an par rapport au prix moyen des transactions sur 10 ans</li>
                      </ul>
                    <br>
                    <br>
                    <b>Analyse</b><br>
                      Le prix moyen est (beaucoup) plus elevé sur Nouméa/Grand Nouméa. Ceci est certainement un effet cumulé d'habitudes de consommations différentes et de prix plus elevés [1].<br>
                      [2] <b class="prix-color-4">50%</b> des achats sont faits à Nouméa. Des endroits comme La Foa, Koné ou Lifou voient leur volume d'achat augmenter quand au Mont-Dore il diminue. Ceci révèle les flux démographiques sous-jacents.<br>
                      [3] L'évolution des prix n'est pas la même partout et des villes restent constamment en dessous du prix moyen d'une transaction. Les années 2021/2022 sont remarquables pour Pouembout.
                    </p>
                </div>
              </div>
        </div>
    </div>
</div>

</div>
{% endblock %}
