{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12 col-md-2 justify-content-center">
      <img src="{{ infogenerales.img }}" alt="{{infogenerales.first_name|title}} {{infogenerales.last_name|title}}" class="img-thumbnail rounded">     
    </div>
    <div class="col-12 col-md-10 text-center">
      <div class="row">
        <h1 class="display-2 sc-title-1-font">{{ infogenerales.first_name }} {{ infogenerales.last_name }}</h1>
      </div>
      <div class="row">
        <p class="fs-6 sc-text-1-font no-margin">{{ infogenerales.birth_date|date:"d/m/Y" }}</p>
        <p class="fs-6 sc-text-1-font no-margin">{{ infogenerales.email }}</p>
        <p class="fs-6 sc-text-1-font no-margin">{{ infogenerales.phone_number }}</p>
        <p class="fs-6 sc-text-1-font no-margin"><a href="{{ infogenerales.linkedin_resume }}">{{ infogenerales.linkedin_resume }}</a></p>
        <p class="fs-6 sc-text-1-font no-margin">{{ infogenerales.adress }}</p>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <h2 class="display-8 sc-title-1-font">EXPERIENCES</h2>
    <hr class="hr hr-blurry" />
  </div>
  <br>
  <div class="row">
    <h2 class="display-8 sc-title-1-font">FORMATIONS</h2>
    <hr class="hr hr-blurry" />
  </div>
  <br>
  <div class="row">
    <h2 class="display-8 sc-title-1-font">COMPETENCES</h2>
    <hr class="hr hr-blurry" />
  </div>
  <br>
  <div class="row">
    <h2 class="display-8 sc-title-1-font">HOBBIES</h2>
    <hr class="hr hr-blurry" />
  </div>


</div>
{% endblock %}
